/************************************************************************************************************
* Generic styles
************************************************************************************************************/

main {
	display: block; /* for HTML5 non-supporting browsers, not included by the shiv (IE9-10-11) */
}

#ws-wrapper {
	width: 95%;
	margin: 0 auto;
	margin-top: 76px;
}

.opacity-layer {
	background-color: #fff;
	opacity: .7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.MW1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#page-img {
	background: url(../images/_spa-page-img.jpg) no-repeat center;
	background-size: cover;
	height: 200px;
	max-width: none;
	margin-bottom: 10px;
}

.parent {
	padding-top: 40px;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

/***
	More options carousel
***/

.moreOptions {
	margin-bottom: 60px;
}

.moreOptions .flickity-prev-next-button {
	top: -28px;
}

.moreOptions .flickity-prev-next-button svg {
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
}

.moreOptions .flickity-prev-next-button.previous {
	left: auto;
	right: 30px;
}

/***
	Page title
***/

#page-title {
	text-align: center;
	margin-bottom: 30px;
}

/***
	Scroll down
***/

.scroll-down {
	display: none;
}


/***
	Scrollbar
***/

.mCSB_scrollTools {
	z-index: 999;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0;
}

/***
	Flickity
***/
.flickity-prev-next-button {
	background: transparent;
	padding: 0;
	width: 30px;
}

.flickity-prev-next-button:hover {
	background: transparent;
}

.slide {
	width: 100%;
}

.slide img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.slide img[data-flickity-lazyload] {
	/* Either one will solve the issue Preferabbly the
	   next inorder to avoid image to cover errors */
	/*width: auto;*/ /* IE Hack For Viewport height */
	display: none; /* IE Hack For Viewport height */
}

/***
	Filter
***/

.filter {
	width: 100%;
	text-align: center;
}

.btns-wrapper {
	display: none;
}

.btns-wrapper .spacing {
	display: none;
}

.filteringBtn, .filter-btn {
	border: 1px solid #e2dae8;
	color: #49176d;
	background-color: #fff;
	line-height: 50px;
	width: 100%;
	font-size: 1.5rem;
	-webkit-user-select: none;
	-moz-user-select: none;  
	-ms-user-select: none;     
	user-select: none;          
}

div.filter-btn-selected,
.filteringBtn:hover {
	border: 1px solid #49176d;
	background-color: #49176d;
	color: #fff;
}

.hint {
	text-align: center;
	color: #49176d;
	font-size: 1.5rem;
	padding: 20px 0 10px;
}

/***
	Content container
***/

.content-container {
	text-align: left;
	margin: 20px auto;
	position: relative;
}

.content-container ul {
	font-size: 1.3rem;
}

.collapsed span, .collapsable div {
	font-weight: 700;
}

.content-container__list1__row {
	position: relative;
	line-height: 1.5;
	margin-bottom: 10px;
	color: #42354c;
}

.content-container__list1.with-arrows {
	position: relative;
}

.content-container__list1.with-arrows .content-container__list1__row {
	padding-left: 25px;
}

.content-container__list1.without-arrows .content-container__list1__row {
	padding-left: 0;
}

.content-container__list1.without-arrows .content-container__list1__row:first-child {
	color: #49176D;
}

.content-container__list1.with-arrows .content-container__list1__row::before {
	content: '>>';
	position: absolute;
	left: 0;
	top: 0;
}

.content-container__list2 {
	display: table;
	width: 100%;
}

.content-container__list2__row {
	display: table-row;
}

.content-container__list2__title,
.content-container__list2__text {
	display: table-cell;
	padding: 10px 0;
}

.content-container__list2__title {
	width: 30%;
	color: #49176d;
	border-bottom: 1px solid #49176d;
	font-weight: 600;
}

.content-container__list2__text {
	width: 70%;
	color: #6e6e6e;
	border-bottom: 1px solid #ece7f0;
	padding-left: 15px;
	line-height: 1.3;
}

.content-container__heading {
	margin-bottom: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
}

/***
	Social icons inner
***/

.social-icons-inner {
	color: #c7bdce;
	margin-bottom: 30px;
}

.social-icons-inner span {
	line-height: 35px;
	margin: 0 10px;
	font-size: 1.3rem;
	float: right;
}

.social-icons-inner .fa {
	font-size: 2rem;
	margin-right: 5px;
	float: right;
	background-color: #E4DCE9;
	color: #fff;
	position: relative;
	text-align: center;
}

.social-icons-inner .fa.fa-google-plus {
	margin-right: 0;
}

.social-icons-inner .fa::before {
	display: block;
	height: 35px;
	width: 35px;
	line-height: 35px;
}

.social-icons-inner .fa:hover {
	background-color: #49176d;
}

.social-icons-inner .fa-google-plus-square {
	margin-right: 0;
}

/***
	Regular btn
***/
.regularBtn {
	color: #49176d;
	background-color: #e4dce9;
	font-size: 1.3rem;
	padding: 0 15px;
	border: none;
	outline: none;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	float: right;
	clear: both;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.regularBtn:hover {
	background-color: #49176D;
	color: #fff;
}

/***
	Rooms (news, accomodation, accomodation-inside)
***/

.room {
	display: block;
	padding: 10px;
	border: 1px solid #dad0e2;
	width: 100%;
	max-width: 280px;
	margin-bottom: 30px;
	margin-left: 0;
	text-align: left;
	margin-right: 26px;
}

.room:last-child {
	margin-bottom: 0;	
}

.room-type {
	border-bottom: 1px solid #d2cfd5;
	padding: 10px 0;
}

.room div[class^="feature"],
.card__text-paragraph {
	font-size: 1.2rem;
}

.room-details {
	margin: 10px 0;
	line-height: 1.3;
}

.room-details:last-child {
	margin-bottom: 0;
}

.room .feature-title, .room .feature-details {
	float: left;
	overflow: hidden;
}

.room .feature-title {
	width: 35%;
	color: #605d63;
}

.room .feature-details {
	width: 60%;
	color: #6e6e6e;
	margin-left: 5%;
}

.room img {
	display: block;
	margin: 0 auto;
	max-width: 260px;
}

.room:last-of-type,
.others > .others__link:last-child {
	margin-right: 0;
}

.rooms, .suites {
	max-width: 1200px;
	margin: 0 auto 40px;
	text-align: center;
}

/***
	Accomodation
***/

.card:hover,
.room:hover {
	border: 1px solid #49176D;
}

/************************************************************************************************************
* Ws header
************************************************************************************************************/
#ws-header {
	position: fixed;
	left: 2.5%;
	top: 0;
	width: 95.1%;
	height: 76px;
	background-color: #fff;
	z-index: 30;
}

.book-now-desktop-wrapper,
#header-logo,
#contact-us {
	z-index: 34;
}

#calendar,
#book-now-mobile,
#ws-nav {
	z-index: 36;
}

#contact-details {
	z-index: 32;
}

.contactDetailsOverlay {
	z-index: 33;
}

.cross-wrapper, .cross, .cross::after,
#three-bars-wrapper, #three-bars, #three-bars::before, #three-bars::after {
	position: absolute;
}

.book-now-desktop-wrapper,
#contact-us,
#contact-details {
	display: none;
}

#header-logo {
	position: fixed;
	width: 160px;
	height: 33.4020px;
	left: 2.5%;
	top: 26px;
}

#header-logo img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

.blockElement,
#header-logo a {
	display: block;
}

#three-bars-wrapper,
.cross-wrapper,
#book-now-mobile {
	height: 24px;
}

#book-now-mobile {
	color: #49176d;
	background-color: #e4dce9;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 24px;
	padding: 0 20px;
	right: 60px;
	right: -webkit-calc(35px + 2.5%);
	right: -moz-calc(35px + 2.5%);
	right: calc(35px + 2.5%);
	top: 26px;
	position: fixed;
}

#book-now-mobile:active {
	background-color: #49176d;
	color: #fff;
}

#three-bars-wrapper, .cross-wrapper {
	width: 30px;
}

#three-bars-wrapper {
	right: 0;
	bottom: 26px;
}

#three-bars, #three-bars::before, #three-bars::after,
.cross, .cross::after {
	width: 30px;
	height: 4px;
	background-color: #49176d;
	right: 0;
}

#three-bars::before, #three-bars::after,
.cross::after {
	content: '';
}

#three-bars, #three-bars::before {
	bottom: 10px;
}
	
#three-bars::after {
	top: 10px;
}

.cross-wrapper {
	top: 26px;
	right: 10px;
}

.cross {
	top: 10px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	     	transform: rotate(-45deg);
}

.cross, .cross::after {
	background-color: #fff;
}

.cross::after {
	content: '';
	display: block;
	top: 0px;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	   	    transform: rotate(90deg);
}

/* Calendar */
#calendar {
	position: fixed;
	top: 76px;
	right: 0;
	width: 100%;
	padding: 0 15px;
	background-color: #fff;
	display: none;
}

.calendar__legend {
	color: #49176d;
	font-weight: 700;
	border-bottom: 1px solid #c8b9d3;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.calendar__legend--margin-bottom {
	margin-bottom: 10px;
}

.calendar__legend--margin {
	margin: 10px 0;
}

.calendar-icon {
	width: 18%;
	float: right;
	height: 35px;
	padding: 0;
	border: none;
	background-color: #eae6ee;
	color: #49176D;
}

.calendar-icon:hover {
	background-color: #49176D;
}

.calendar-icon:hover .fa-calendar {
	color: #fff;
}

.calendar-icon .fa-calendar {
	font-size: 1.5rem;
}

.date-field {
	margin-bottom: 10px;
}

#calendar input[type="text"] {
	height: 35px;
	background-color: #eae6ee;
	border: none;
	padding-left: 10px;
	color: #49176D;
}

.calendar__submit-btn {
	width: 100%;
	background-color: #48166c;
	color: #fff;
	font-size: 1.4rem;
	border: none;
	padding: 10px 0;
	margin: 10px 0;
}

.calendar__submit-btn:hover {
	background-color: #6c6c6c;
}

#calendar-form {
	border-top: 1px solid #a48bb6;
	border-bottom: 1px solid #a48bb6;
}

.check-dates label, .reservation label {
	font-size: 1.2rem;
	margin: 0 0 5px 0;
	display: block;
}

.check-dates input {
	display: block;
	width: 80%;
	float: left;
}

.reservation label, .counter-container {
	width: 25%;
	margin-right: 12.5%;
	float: left;
}

.reservation-count input[type="text"] {
	width: 100%;
}

.reservation label:last-of-type, .reservation-count > div:last-child {
	margin-right: 0;
}

.counter-container {
	position: relative;
}

.counter-container .up-arrow,
.counter-container .down-arrow {
	width: 20px;
	height: 15px;
	position: absolute;
	right: 0;
}

.counter-container .up-arrow {
	top: 0;
}

.counter-container .down-arrow {
	bottom: 0;
}

.counter-container .up-arrow:hover::before,
.counter-container .up-arrow:hover::after,
.counter-container .down-arrow:hover::before,
.counter-container .down-arrow:hover::after {
	background-color: #49176D;
}

.counter-container .up-arrow::before,
.counter-container .up-arrow::after,
.counter-container .down-arrow::before,
.counter-container .down-arrow::after {
	content: '';	
	position: absolute;
	width: 7px;
	height: 2px;
	background-color: #aaa;
}

.counter-container .up-arrow::before,
.counter-container .up-arrow::after {
	top: 8px;
}

.counter-container .down-arrow::before,
.counter-container .down-arrow::after {
	bottom: 8px;
}

.counter-container .up-arrow::before,
.counter-container .down-arrow::before {
	right: 10px;
}

.counter-container .up-arrow::after,
.counter-container .down-arrow::after {
	right: 5px;
}

.counter-container .up-arrow::before,
.counter-container .down-arrow::after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.counter-container .up-arrow::after,
.counter-container .down-arrow::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.xdsoft_datetimepicker .xdsoft_month,
.xdsoft_datetimepicker .xdsoft_year {
 	color: #5F5F5F;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today.xdsoft_current {
    color: #fff;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #48166C;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
    background: #48166C;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover,
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
    background: #48166C !important;
}

/************************************************************************************************************
* Ws nav
************************************************************************************************************/

#ws-nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 60%;
	min-width: 300px;
	background-color: #48166c;
	font-size: 1.4rem;
	text-align: center;
	overflow-y: auto;
	-webkit-transition: right .3s;
	   -moz-transition: right .3s;
	        transition: right .3s;
}

#ws-nav .social-icons .fa {
	margin: 0 8px;
}

.background {
	display: none;
}

.ws-nav-list { 
	background-color: #e4dce9;
	text-align: left;
}

.ws-nav-list a, .ws-nav-list div {
	color: #48166C;
	display: block;
	padding: 10px 0;
	margin: 0 5%;
	border-bottom: 1px solid #cdbdd7;
	position: relative;
}

.ws-nav-list > li > .mobileLinkStyle { /* js class */
	color: #48166C;
	font-weight: 700;
	border-bottom: none;
}

.ws-nav__list-item:hover > a,
.ws-nav__list-item:hover > div {
	font-weight: 700;
	color: #48166c;
}

.activeLink > a,
.activeLink > div {
	font-weight: 700;
	color: #48166c;
}

#ws-nav .phone {
	margin-top: 28px;
}

#ws-nav .phone, #ws-nav .email {
	font-size: 1.1rem;
	line-height: 1.3;
	color: #fff;
	display: block;
	text-align: left;
	margin-left: 2.5%;
}

.ws-nav-list {
	margin-top: 20px;
}

.drop-down {
	display: none;
	background-color: #755191;
}

a.drop-down__anchor {
	color: #fff;
	padding-left: 5%;
}

a.drop-down__anchor:hover {
	font-weight: 700;
}

.drop-down li:last-child a {
	border-bottom: none;
}

.ws-nav-list a.right-arrow::before, .ws-nav-list a.right-arrow::after,
.ws-nav-list div.right-arrow::before, .ws-nav-list div.right-arrow::after,
.ws-nav-list a.down-arrow::before, .ws-nav-list a.down-arrow::after,
.ws-nav-list div.down-arrow::before, .ws-nav-list div.down-arrow::after {
	content: '';
	width: 15px;
	height: 2px;
	background-color: #48166d;
	position: absolute;
	right: 0;
}

.ws-nav-list a.right-arrow::before,
.ws-nav-list div.right-arrow::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	   	    transform: rotate(45deg);
	top: 12px;
}

.ws-nav-list a.right-arrow::after,
.ws-nav-list div.right-arrow::after {
	bottom: 12px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	  	    transform: rotate(-45deg);
}

.ws-nav-list a.down-arrow::before,
.ws-nav-list div.down-arrow::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	   		transform: rotate(45deg);
	right: 10px;
	top: 18px;
}

.ws-nav-list a.down-arrow::after,
.ws-nav-list div.down-arrow::after {
	bottom: 14px;
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     	transform: rotate(135deg);
}

/************************************************************************************************************
* Ws footer
************************************************************************************************************/

#ws-footer {
	margin-top: 30px;
	padding: 10px 2.5% 15px;
	background: #49176D;
	color: #fff;
	text-align: center;
}

#footer-logo {
	width: 130px;
	height: 26.8562px;
	margin: 10px 0;
	display: inline-block;
}

#footer-logo a {
	display: block;
}

#footer-logo img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.social-wall-btn {
	background-color: #9173a7;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px 0;
	display: block;
	width: 100%;
	color: #fff;
}

.social-wall-btn:hover {
	text-shadow: 1px 0 0 #48166D;
}

#ws-footer .social-icons {
	border-bottom: 1px solid #a48bb6;
}

.intercontinental-link,
.footer-links {
	display: inline-block;
	color: #fff;
	font-size: 1.3rem;
	padding: 10px;
}

.copyrights {
	font-size: 1.2rem;
	text-align: center;
}

.social-icons {
	padding: 15px 0;
	display: block;
	text-align: center;
}

.social-icons .fa {
	color: #fff;
	font-size: 2rem;
	margin: 0 10px;
}

/************************************************************************************************************
* Utility classes
************************************************************************************************************/

.desktop-only,
.desktop-cell-only,
span.mobile-415,
span.mobile-410,
.desktop-int-link,
.contactDetailsOverlay {
	display: none;
}

.inline-block {
	display: inline-block;
}

.table {
	display: table;
}

.row, .row-cell {
	display: table-row;
}

.center-content {
	text-align: center;
}

.leftAligned {
	text-align: left;
}

.whiteColor {
	color: #fff;
}

.bottomMargin30 {
	margin-bottom: 30px;
}

.boldHoverText:hover {
	text-shadow: 1px 0 0 #fff;
}

.clear-fix::before, .clear-fix::after {
	content: '';
	display: table;
}

.clear-fix::after {
	clear: both;
}

.clear-fix {
	*zoom: 1;
}

@media screen and (min-width: 421px) {
	#footer-logo {
		float: left;
		margin: 0;
	}

	.copyrights {
		float: right;
		height: 27px;
		line-height: 27px;
		text-align: right;
	}

	.footer-bottom {
		padding: 10px 0;
	}
}

@media screen and (min-width: 435px) {
	
	#ws-footer .social-icons .fa {
		display: block;
		float: right;
	}

	span.mobile-415 {
		font-size: 1.2rem;
		line-height: 20px;
	}

	span.mobile-415,
	span.mobile-410 {
		display: inline-block;
	}

	#ws-footer .social-icons {
		text-align: left;
	}
}

@media screen and (min-width: 480px) {
	.intercontinental-link,
	.footer-links {
		display: inline-block;
	}
}

@media screen and (min-width: 500px) {
	.cross-wrapper {
		right: 4.1667%;
	}

	/***
		Regular btn
	***/	

	.regularBtn {
		clear: none;
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	/************************************************************************************************************
	* Generic styles 
	************************************************************************************************************/

	.discover-more {
	    font-size: 2rem;
	    padding: 5px 15px;
	}

	/***
		More options carousel
	***/

	.moreOptions .flickity-prev-next-button {
		top: -31px;
	}

	/************************************************************************************************************
	* Ws header
	************************************************************************************************************/

	#header-logo {
		width: 180px;
		height: 37.5773px;
	}

	#book-now-mobile {
		height: 27px;
		line-height: 27px;
		right: -webkit-calc(40px + 2.5%);
		right: -moz-calc(40px + 2.5%);
		right: calc(40px + 2.5%);
		cursor:pointer;
	}

	#book-now-mobile,
	#three-bars-wrapper {
		bottom: 23.5px;
	}

	#three-bars-wrapper,
	.cross-wrapper {
		height: 27px;
		width: 35px;
		cursor:pointer;
	}

	#three-bars,
	#three-bars::before,
	#three-bars::after {
		width: 35px;
	} 

	#three-bars::before {
		bottom: 11px;
	}

	#three-bars {
		bottom: 11px;
	}

	#three-bars::after {
		top: 11px;
	}

	/************************************************************************************************************
	* Ws nav
	************************************************************************************************************/

	#ws-nav .phone, #ws-nav .email {
	   	font-size: 1.3rem;
	}

	#ws-nav .phone {
	    margin-top: 23px;
	}

	.ws-nav-list a.down-arrow::before,
	.ws-nav-list div.down-arrow::before {
		top: 18px;
	}

	.ws-nav-list a.down-arrow::after,
	.ws-nav-list div.down-arrow::after {
		bottom: 15px;
	}

	#header-components .cross, #header-components .cross::after {
	    width: 25px;
	    height: 2px;
	    display: block;
	    border: none;
	    background-color: #fff;
	}

	#header-components .cross::after {
		content: '';
		display: block;
		top: 0;
	}
	
	.cross-wrapper {
	    right: 17px;
	    top: 25px;
	}

	/************************************************************************************************************
	* Ws footer
	************************************************************************************************************/

	.social-wall-btn {
		width: 250px;
		float: left;
		position: relative;
		z-index: 1;
	}

	#ws-footer .social-icons {
		padding-left: 40%;
		position: relative;
		bottom: 5px;
	}

	#ws-footer .social-icons {
	    text-align: right;
	}

	.ws-footer__stay-connected {
		margin-right: 20px;
	}
}

@media screen and (max-width: 999px) {
	#ws-nav {
		right: -1000px;
	}
}

@media screen and (min-width: 1000px) {
	/************************************************************************************************************
	* Generic styles
	************************************************************************************************************/
	
	html,
	body {
		height: 100%;
	}

	body {
		overflow-y: hidden;
	}

	.ie9 body {
		overflow: visible;
	}

	/***
		Page title
	***/

	#page-title {
		margin-top: 100px;
	}
	
	/***
		More options carousel
	***/

	.moreOptions .flickity-prev-next-button {
		display: block;
	    top: -35px;
	}

	.moreOptions .flickity-prev-next-button.previous {
		left: 0;
	}

	.moreOptions .flickity-prev-next-button.next {
		right: 0;
	}

	.moreOptions .flickity-prev-next-button {
		width: 100px;
		height: 50px;
	}

	.moreOptions .flickity-prev-next-button svg {
		top: 0;
		width: 30%;
		height: 100%;
	}

	.moreOptions .flickity-prev-next-button.previous svg {
		left: 0;
	}

	.moreOptions .flickity-prev-next-button.next svg {
		left: auto;
		right: 0;
	}

	.moreOptions .flickity-prev-next-button .arrow {
		fill: #999;
	}

	.moreOptions .flickity-prev-next-button:hover .arrow {
		fill: #49176D;
	}

	/***
		Filter
	***/

	.filteringBtn {
		display: table-cell;
		padding: 0 30px;
		height: 40px;
		line-height: 40px;
		width: auto;
	}

	.btns-wrapper .spacing {
		width: 5px;
		display: table-cell;
		padding: 0;
		border: none;
	}

	.filter-btn {
		display: none;
	}

	.btns-wrapper {
		display: table;
		width: 100%;
	}

	/***
		Content container
	***/

	.content-container__heading {
		margin-bottom: 30px;
	}

	.content-container {
		max-width: 1200px;
		margin: 30px auto;
	}

	.content-container .content-container__list1.without-arrows {
		width: 70%;
	}

	.content-container__list2 {
		width: 30%;
	}

	.without-arrows .content-container__list1__row:first-child p {
		font-size: 1.7rem;
		margin-bottom: 30px;
	}

	/***
		Social icons inner
	***/

	.social-icons-inner {
		position: absolute;
		left: auto;
		right: 0;
		top: 0;
	}

	/***
		Social icons
	***/

	.social-icons .fa {
		color: #49176D;
		font-size: 1.7rem;
		text-align:center;
		margin: 3px 0 0;
	}

	.social-icons .fa::before {
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.social-icons .fa:hover {
		color: #fff;
		background-color: #48166c;
	}

	/***
		Close btn
	***/

	.close-btn {
		width: 20px;
		height: 20px;
	}

	.close-btn::before,
	.close-btn::after {
		content: '';
		display: block;
		width: 25px;
		height: 2px;
		background-color: #FFF;
		position: absolute;
		top: 10px;
		left: -2px;
	}

	.close-btn::before {
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}

	.close-btn::after {
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}


	/***
		Page img
	***/

	#page-img {
		height: 350px;
	}
	
	/***
		Ws wrapper
	***/

	#ws-wrapper {
		margin-top: 75px;
		margin-bottom: 130px;
	}

	#three-bars-wrapper,
	#book-now-mobile,
	.counter-container .up-arrow,
	.counter-container .down-arrow,
	.ws-nav-list div,
	#event-date,
	#alternate-event-date,
	#events button,
	.calendar__submit-btn,
	.cross-wrapper,
	.rfp select,
	.spa .buttons button,
	.btn,
	#book-now-close-btn,
	.filteringBtn,
	.swiper-scrollbar-drag:hover,
	#contact-details-close-btn,
	.scroll-down,
	.calendar-icon {
		cursor: pointer;
	}

	.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	    background-color: #49176D;
	}

	.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #E4DCE9;
	}

	/************************************************************************************************************
	* Ws header
	************************************************************************************************************/

	#ws-header {
		height: 75px;
		-webkit-transition: height .3s;
		   -moz-transition: height .3s;
		     transition: height .3s;
	}

	#header-logo {
	    width: 220px;
	    height: 45.9278px;
	    top: 14.5px;
	    -webkit-transition: all .3s;
	       -moz-transition: all .3s;
	       	    transition: all .3s;
	}

	#book-now-mobile, #three-bars-wrapper {
		display: none;
	}

	.book-now-desktop-wrapper,
	#contact-us {
		display: block;
	}

	.book-now-desktop-wrapper,
	#header-logo,
	#calendar {
		z-index: 36;
	}

	.contactDetailsOverlay {
		position: fixed;
		top: 0;
		display: block;
		width: 910px;
		height: 75px;
		background-color: #FFF;
		-webkit-transition: all .3s;
		   -moz-transition: all .3s;
		        transition: all .3s;
	}

	.book-now-desktop-wrapper,
	#contact-us,
	#contact-details {
		-webkit-transition: all .3s;
		   -moz-transition: all .3s;
		   	 	transition: all .3s;
	}

	.book-now-desktop-wrapper,
	#contact-us,
	#contact-details {
		position: fixed;
		top: 37px;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		     	transform: translateY(-50%);
	}

	.book-now-desktop-wrapper {
		right: 2.48%;
	}

	#contact-us,
	#contact-details,
	.contactDetailsOverlay {
		right: 280px;
		right: -webkit-calc(2.5% + 200px);
		right: -moz-calc(2.5% + 200px);
		right: calc(2.5% + 200px);
		font-size: 1.3rem;
	}

	#contact-details {
		background-color: #49176D;
		color: #fff;
		padding: 10px 100px 10px 10px;
		display: block;
	}

	.contact-details-email,
	.contact-details-phone {
		float: left;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.contact-details-address {
		clear: left;
	}

	.map {
		position: absolute;
		right: 40px;
		top: 17px;
		color: #fff;
		padding: 5px 10px;
		background-color: #775192;
	}

	.map:hover {
		color: #775192;
		background-color: #fff;
	}
	
	#contact-details-close-btn {
		position: absolute;
		top: 18px;
		right: 8px;
	}

	#contact-details-close-btn,
	.map {
		-webkit-transition: all .3s;
		   -moz-transition: all .3s;
			    transition: all .3s;
	}
	
	#calendar {
		display: none;
		right: 2.48%;
		top: 55px;
		width: 223px;
		-webkit-transition: top .3s;
		   -moz-transition: top .3s;
		        transition: top .3s;
	}

	.calendar__submit-btn {
		background-color: #6c6c6c;
	}

	.calendar__submit-btn:hover {
		background-color: #48166c;
	}

	#calendar-form {
		border: none;
	}

	.reservation label {
	    font-size: 1.2rem;
	}

	.reservation label, .counter-container {
	    width: 30%;
	    margin-right: 5%;
	}

	.calendar__legend {
	    font-size: 1.4rem;
	}

	.mailto {
		color: #fff;
	}
	
	#contact-us {
		display: block;
		color: #481767;
		font-weight: 400;
		height: 35px;
		line-height: 35px;
	}

	#contact-us:hover {
		text-shadow: 1px 0 0 #49176D;
	}

	#contact-us .anchor {
		display: block;
		color: #5B2E7B;
	}

	.book-now-desktop {
		background-color: #E4DCE9;
		font-size: 1.3rem;
		display: block;
		line-height:35px;
		height: 35px;
		padding: 0 20px;
		color: #49176D;
     	-webkit-transition: all .3s;
     	   -moz-transition: all .3s;
     	        transition: all .3s;
	}

	.book-now-desktop:active {
		color: #49176D;
	}

	.js-book-now-css {
		background-color: #49176D;
		color: #fff;
		padding-right: 60px;
	}

	.js-book-now-css:active {
		color: #fff;
	}

	#book-now-close-btn {
		position: absolute;
		width: 20px;
		height: 20px;
		right: 17px;
		top: 6px;
		display: none;
		-webkit-transform: scale(2);
		    -ms-transform: scale(2);
		   -moz-transform: scale(2);
		     	transform: scale(2);
	   -webkit-transition: -webkit-transform .3s;
		  -moz-transition: -moz-transform .3s;
		       transition: transform .3s;
	}

	/************************************************************************************************************
	* Ws nav
	************************************************************************************************************/

	#ws-nav {
		position: fixed;
	    top: 75px;
	    right: auto;
	    left: 2.5%;
	    width: 95.1%;
	    height: 45px;
		padding: 0;
	    font-size: 1.3rem;
	    opacity: .96;
		overflow: visible;
		-webkit-transition: top .3s;
		   -moz-transition: top .3s;
		     transition: top .3s;
	    background-color: #fff;
		opacity: 0;
		z-index: 33;
	}

	.drop-down {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: transparent;
	}

	.ws-nav-list {
		margin-top: 0;
	    background-color: #fff;
	    display: inline-block;
	}

	.ws-nav-list > li:not(.mobile-only) {
		position: relative;
		border-top: 1px solid #E6DFEB;
		height: 45px;
		float: left;
	}

	.ws-nav-list > li:hover {
		border-top-color: #49176D;
	}

	.ws-nav-list > li.activeLink {
		border-top: 1px solid #49176D;
	}

	.activeLink > a,
	.activeLink > div {
		text-shadow: 1px 0 0 #49176D;
	}


	.ws-nav-list a, .ws-nav-list div {
		color: #48166D;
		font-weight: 400;
		border: none;
		text-align: center;
		padding: 0;
		line-height: 45px;
		letter-spacing: 1px;
		margin: 0;
	}

	.ws-nav__list-item:hover > a,
	.ws-nav__list-item:hover > div {
		font-weight: 400; /* disables mobile hover effect */
		text-shadow: 1px 0 0 #48166D;
	}

	.ws-nav__list-item:hover > a, .drop-down-btn > div:hover {
		background-color: transparent;
	}

	.drop-down-btn:hover .drop-down {
		display: block;
		width: 100%;
		background-color: transparent;
	}

	.drop-down li {
		border-top: 1px solid #b9a6c7;
		float: left;
	}

	.drop-down li:hover,
	.drop-down .activeLink {
		border-top: 1px solid #48166D;
	}

	.drop-down li:hover a,
	.drop-down .activeLink a {
		color: #48166D;
		text-shadow: 1px 0 0 #48166D;
	} 

	a.drop-down__anchor {
		color: #aa95b8;
		display: block;
		padding-left: 0;
	}

	a.drop-down__anchor:hover {
		font-weight: 400;
	}
	
	#ws-nav .phone, #ws-nav .email, .cross-wrapper, #ws-nav .social-icons {
		display: none;
	}

	.background {
		position: fixed;
		top: 120px;
		left: 2.5%;
		width: 95.1%;
		opacity: 0.95;
		background-color: #fff;
		height: 45px;
		z-index: 2;
		-webkit-transition: top .3s;
		   -moz-transition: top .3s;
		        transition: top .3s;
	}

	/************************************************************************************************************
	* Ws footer
	************************************************************************************************************/

	#ws-footer {
		position: fixed;
		bottom: 0;
		left: 2.5%;
		margin-top: 0;
	    padding: 0;
		width: 95.1%;
		height: 70px;
		background-color: #fff;
		border-top: 1px solid #e7e7e7;
		z-index: 33;
	}

	/* footer list */
	.footer-list,
	.footer-list2 {
		position: absolute;
		right: 0;
	}

	.footer-list {
		top: 0;
		z-index: 2;
	}

	.footer-list2 {
		bottom: 0;
	}

	.footer-list li,
	.footer-list2 li {
		float: left;
	}

	.footer-list li:last-child > .footer-list-link,
	.footer-list2 li:last-child > .footer-list2-link {
		padding-right: 0;
	}
	
	.footer-list-link,
	.footer-list2-link {
		display: block;
		padding: 12px;
	}

	.footer-list-link {
		color: #49176d;		
	}

	.footer-list2-link {
		color: #747474;
	}

	.footer-list-link:hover {
		text-shadow: 1px 0 0 #49176D;
	}

	.footer-list2-link:hover {
		color: #49176D;
	}

	#ws-footer .social-icons, .social-wall-btn, .copyrights, .desktop-int-link {
		position: absolute;
		left: 0;
		z-index: 2;
	}

	#ws-footer .social-icons {
		top: 0px;
	}

	#ws-footer .social-icons span,
	.social-wall-btn,
	.footer-list,
	.footer-list2,
	.copyrights,
	.desktop-int-link {
	    font-size: 1.2rem;
	}

	#ws-footer .social-icons span {
		padding: 12px;
		line-height: 1;
	}

	.ws-footer__stay-connected {
		margin-right: 0;
	}

	.social-wall-btn {
		padding: 5px 10px;
		top: 8px;
		width: auto;
	    background-color: #fff;
	    color: #49176d;
		left: 345px;
	    border-left: 1px solid #e6dfeb;
	}

	#ws-footer .social-icons {
		bottom: auto;
		color: #49176d;
		border-bottom: none;
	    padding: 0;
	}

	#ws-footer .social-icons span {
		display: inline-block;
		height: auto;
		padding-left: 0;
	}

	.footer-list2-link,
	.copyrights,
	.desktop-int-link {
		padding-top: 10px;
		padding-right: 12px;
		padding-bottom: 15px;
	}

	.copyrights, .desktop-int-link {
		bottom: 0;
		color: #a4a4a4;
		display: block;
	}

	.copyrights {
		padding-left: 0;
		height: auto;
		line-height: 1;
	}

	.intercontinental-link {
		font-size: 1.3rem;
		margin-left: 0;
		display: none;
	}

	.desktop-int-link {
		left: 280px;
	}

	.desktop-int-link:hover {
		color: #49176D;
	}

	#footer-logo {
		display: none;
	}

	/************************************************************************************************************
	* utility classes
	************************************************************************************************************/
	.row-cell,
	.cell,
	.desktop-cell-only {
		display: table-cell;
	}

	.mobile-only {
		display: none;
	}

	.desktop-only {
		display: block;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
	#ws-nav {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1200px) {
	.content-container .content-container__list1 {
		float: left;
		width: 70%;
		padding-right: 50px;
	}
}