/*********************************
*
*	1. General styles
*	2. Full width slider
*	3. Double face slider
*	4. Gallery slider
*	5. Image Slider
*
*********************************/

/***************
*
* 1. General styles
*
***************/

.rsArrow {
	height: 32px;
	width: 32px;
	position: absolute;
	display: block;
	z-index: 21;
}

.no-padding-top {
	padding-top: 0;
}

.no-padding .filteringBtn {
	padding: 0;
}

.arrow {
	cursor: pointer;
}

.slide {
	height: 100%;
}

/***************
*
*  2. Full width slider
*
****************/
.fullWidthSlider,
.doubleFaceSlider {
	width: 100%;
	z-index: 1;
}

.fullWidthSlider .text {
	display: none;
}

.fullWidthSlider .rsArrowIcn,
.doubleFaceSliderWrapper .arrow {
	width: 32px;
	height: 32px;
	margin: 0;
}

.fullWidthSlider .rsArrowIcn::before,
.fullWidthSlider .rsArrowIcn::after,
.doubleFaceSliderWrapper .arrow::before,
.doubleFaceSliderWrapper .arrow::after {
	content: '';
	display: block;
	width: 15px;
	height: 2px;
	position: absolute;
	left: auto;	
	right: 0;
}

.fullWidthSlider .rsArrowIcn::before,
.fullWidthSlider .rsArrowIcn::after {
	background-color: #fff;
}

.doubleFaceSliderWrapper .arrow::before,
.doubleFaceSliderWrapper .arrow::after {
	background-color: #49176D;
}

.fullWidthSlider .rsArrowIcn::before,
.doubleFaceSliderWrapper .arrow::before {
	top: 10px;
}

.fullWidthSlider .rsArrowIcn::after,
.doubleFaceSliderWrapper .arrow::after {
	top: auto;
	bottom: 10px;
}

.fullWidthSlider .rsArrowLeft .rsArrowIcn::before,
.fullWidthSlider .rsArrowRight .rsArrowIcn::after,
.doubleFaceSliderWrapper .leftArrow::before,
.doubleFaceSliderWrapper .rightArrow::after,
.slider-wrapper .rightArrow::after,
.slider-wrapper .leftArrow::before {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.fullWidthSlider .rsArrowLeft .rsArrowIcn::after,
.fullWidthSlider .rsArrowRight .rsArrowIcn::before,
.doubleFaceSliderWrapper .leftArrow::after,
.doubleFaceSliderWrapper .rightArrow::before,
.slider-wrapper .rightArrow::before,
.slider-wrapper .leftArrow::after {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.fullWidthSlider .rsArrowLeft .rsArrowIcn::before,
.fullWidthSlider .rsArrowLeft .rsArrowIcn::after {
	left: 0;
}

.fullWidthSlider .rsArrowLeft { left: 10px; bottom: 5px; }

.fullWidthSlider .rsArrowRight { right: 10px; bottom: 5px; }

/***************
*
*  3. Double face slider
*
****************/
.doubleFaceSlider {
	opacity: 0;
}

.doubleFaceSlider .rsImg {
	max-width: 100%;
	height: auto;
	display: block;
}

.doubleFaceSlider .slide-text {
	margin-top: 10px;
	color: #727272;
}

.doubleFaceSliderWrapper {
	position: relative;
	padding-top: 20px;
}

.doubleFaceSliderTitle,
.doubleFaceSliderWrapper .arrow {
	z-index: 2;
	position: absolute;
}

.doubleFaceSliderTitle {
	left: 0;
	top: 0;
}

.doubleFaceSliderWrapper .arrow {
	left: auto;
	right: 0;
	top: 22px;
}

.doubleFaceSliderWrapper .leftArrow {
	right: 32px;
}

.mobileImgWrapper {
	position: relative;
}

.discoverMoreBtn,
.reserveBtn {
	position: absolute;
	top: auto;
	left: auto;
	bottom: 10px;
	font-size: 1.3rem;
	z-index: 1;
	height: 24px;
	line-height: 24px;
	padding: 0 20px;
	opacity: .8;
}

.discoverMoreBtn:hover,
.reserveBtn:hover { 
	opacity: 1;
}

.discoverMoreBtn,
.reserveBtn {
	background-color: #dfdede;
	color: #48166c;
}

.discoverMoreBtn {
	right: 10px;
}

.reserveBtn {
	left: 10px;
}

/***************
*
* 4. Gallery slider
*
***************/

.gallerySlider {
  width: 100%;
  margin-top: 20px;
  visibility: hidden;
}

.gallerySlider .rsSlide,
.gallerySlider .rsThumbs {
	visibility: visible;
}

.gallerySlider .rsThumbs,
.gallerySlider .rsThumb {
	height: 57px;
}

.gallerySlider .rsThumb {
	width: 100px;
}

.gallerySlider .rsThumbs {
	margin-top: 12px;
}

.gallerySlider .rsThumb.rsNavSelected img {
    filter: alpha(opacity=40);
    opacity: 0.3;
}

.gallerySlider .rsThumb.rsNavSelected {
    background: #49176D;
}

.videoSlider .rsThumbs {
	margin-bottom: 12px;
}

.gallerySlider.rsMinW .rsThumbsArrow {
	display: none;
}

.youtube {
	color: #49176d;
	font-size: 1.5rem;
	text-align: right;
}

.youtube .fa-youtube {
	font-size: 4rem;
	color: inherit;
}

.videoSlider.rsMinW .rsFullscreenBtn {
	display: none;
}

.videoSlider.rsMinW .rsNavSelected img {
	opacity: 1;
}

.videoSlider .rsNavItem .layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../images/play.png) no-repeat center;
	background-size: 40px 40px;
}

.videoSlider .rsNavSelected .layer {
	background-color: rgba(73, 23, 109, 0.7);
}

/***************
*
* 5. Image slider
*
***************/
.slider-wrapper {
	position: relative;
}

.imageSlider {
	width: 100%;
	max-width: 1200px;
}

.slide {
	position: relative;
}

.rsText {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding-bottom: 14px;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	display: none;
}

.slider-wrapper .arrow {
	width: 75px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 1;
}

.slider-wrapper .leftArrow {
	left: 0;
}

.slider-wrapper .rightArrow {
	left: auto;
	right: 0;
}

.slider-wrapper .arrow::before,
.slider-wrapper .arrow::after {
	content: '';
	display: block;
	background-color: #FFF;
	width: 25px;
	height: 2px;
	position: absolute;
}

.slider-wrapper .leftArrow::after,
.slider-wrapper .leftArrow::before {
	left: 10px;
}

.slider-wrapper .rightArrow::after,
.slider-wrapper .rightArrow::before {
	left: auto;
	right: 10px;
}

.slider-wrapper .rightArrow::before,
.slider-wrapper .leftArrow::before {
	top: 15px;
}

.slider-wrapper .rightArrow::after,
.slider-wrapper .leftArrow::after {
	top: 32px;
}

@media screen and (min-width: 768px) {
	
	/***************
	*
	*  2. Full width slider
	*
	****************/
	
	.fullWidthSlider .text {
		-webkit-transform: translateY(-110%);
	   	   -moz-transform: translateY(-110%);
	    	-ms-transform: translateY(-110%);
	        	transform: translateY(-110%);
		color: #FFF;
		font-size: 1.5rem;
		text-align: center;
		padding: 0 40px;
		font-size: 1.5rem;
		display: block;
		padding-bottom: 7px;
	}

	/***************
	*
	*  3. Double face slider
	*
	****************/

	.doubleFaceSliderWrapper {
	    padding-top: 30px;
	}
	
	.rsText {
		display: block;
	}
}

@media screen and (min-width: 1000px) {

	/***************
	*
	*  2. Full width slider
	*
	****************/
	
	.fullWidthSlider {
		height: -webkit-calc(100vh - 145px) !important;
		height: -moz-calc(100vh - 145px) !important;
		height: calc(100vh - 145px) !important;
	}

	.fullWidthSlider .text {
		position: absolute;
		top: auto;
		left: auto;
		bottom: 10px;
		right: 80px;
		padding: 0;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		        transform: none;
	}

	.fullWidthSlider .rsArrowLeft { left: auto; right: 50px; bottom: 7px; }

	.fullWidthSlider .rsArrowRight { right: 0px; bottom: 7px; }
	
	.fullWidthSlider .rsArrowLeft .rsArrowIcn::before,
	.fullWidthSlider .rsArrowLeft .rsArrowIcn::after {
		left: auto;
	}


	.fullWidthSlider .rsArrowIcn::before,
	.fullWidthSlider .rsArrowIcn::after,
	.slider-wrapper .arrow::before,
	.slider-wrapper .arrow::after {
		opacity: .5;
	}

	.fullWidthSlider .rsArrowIcn:hover::before,
	.fullWidthSlider .rsArrowIcn:hover::after,
	.slider-wrapper .arrow:hover::before,
	.slider-wrapper .arrow:hover::after {
		opacity: 1;
	}

	.fullWidthSlider .rsArrowRight .rsArrowIcn::before,
	.fullWidthSlider .rsArrowRight .rsArrowIcn::after {
		left: 0;
	}

	/***************
	*
	*  3. Double face slider
	*
	****************/
	
	.doubleFaceSlider.desktop-only .rsImg {
		width: 100% !important; /* IE Hack for imageToCover to work */
	}

	.doubleFaceSlider.desktop-only {
		background-image: none;
	}

	.doubleFaceSlider .slide-text {
		margin-top: 0;
		max-height:280px;
		overflow:hidden;
		font-size: 1.5rem;
	}

	.doubleFaceSliderWrapper.desktop-only {
		padding-top: 40px;
	}

	.doubleFaceSliderWrapper.desktop-only .arrow {
		top: 0;
	}

	.doubleFaceSlider.desktop-only .rsSlide {
		display: table;
		table-layout: fixed;
		height: 350px;
	}	
	
	.doubleFaceSlider.desktop-only .rsContent {
		display: table-row;
	}

	.doubleFaceSlider.desktop-only .imgWrapper {
		min-height: 350px;
		height: 350px;
		overflow: hidden;
	}

	.doubleFaceSlider.desktop-only .rsImg {
		width: 100%;
		height: auto;
	}

	.doubleFaceSlider.desktop-only .slide-title {
		margin-top: 0;
	}

	.doubleFaceSlider.desktop-only .content-wrapper {
		padding-right: 30px;
		position: relative;
	}

	.doubleFaceSlider.desktop-only .imgWrapperContainer,
	.doubleFaceSlider.desktop-only .content-wrapper {
		display: table-cell; 
		width: 50%;
		vertical-align: top;
	}

	.doubleFaceSlider.desktop-only .rsArrow {display: none;} 

	.doubleFaceSliderWrapper.desktop-only .arrow::before,
	.doubleFaceSliderWrapper.desktop-only .arrow::after {
		background-color: #5f5f5f;
		opacity: 0.5;
	}

	.doubleFaceSliderWrapper.desktop-only .arrow:hover::before,
	.doubleFaceSliderWrapper.desktop-only .arrow:hover::after {
		background-color: #49176D;
		opacity: 1;
	}

	.discoverMoreBtn,
	.reserveBtn {
		bottom: 0;
		font-size: 1.3rem;
	}

	.discoverMoreBtn {
		right: 30px;
		background-color: #fff;
		color: #727272;
		padding: 0;
		height: auto;
		line-height: 1;
		opacity: 1;
	}

	.reserveBtn {
		height: 35px;
		line-height: 35px;
		padding: 0 25px;
		left: 0;
	}

	.discoverMoreBtn:hover {
		color: #49176D;
	}

	.reserveBtn:hover {
		color: #e4dce9;
		background-color: #49176d;
	}

	/*******
	*
	* 4. Gallery slider
	*
	*******/
	.gallerySlider .rsThumb {
		width: 188px;
	}

	.gallerySlider .rsThumbs,
	.gallerySlider .rsThumb {
		height: 108px;
	}

	.videoSlider .rsNavItem .layer {
		background-size: 66px 66px;
	}

	.youtube {
		font-size: 2rem;
	}

	.videoSlider.rsMinW .rsFullscreenBtn {
		display: block;
	}


	/*******
	*
	* 5. Image slider
	*
	*******/
	.imageSlider {
		height: 500px !important;
	}

	.slider-wrapper .arrow::before,
	.slider-wrapper .arrow::after {
		width: 40px;
		height: 3px;
	}

	.slider-wrapper .rightArrow::before,
	.slider-wrapper .leftArrow::before {
		top: 10px;
	}

	.slider-wrapper .rightArrow::after,
	.slider-wrapper .leftArrow::after {
		top: 37px;
	}

}

@media screen and (min-width: 1000px) and (max-height: 670px) {
	/*******
	*
	* 5. Image slider
	*
	*******/
	.imageSlider {
		height: 350px !important;
	}
}

@media screen and (min-width: 1300px){
	/***************
	*
	* 4. Gallery slider
	*
	***************/
	.gallerySlider.rsMinW .rsThumbsArrow {
	    width: 50px;
	    display: block;
		visibility: visible;
	}

	.gallerySlider.rsMinW .rsThumbsArrowIcn {
	    width: 50px;
	    height: 100px;
	    margin-top: -50px;
	    margin-left: -25px;
	    background: none;
	}

	.gallerySlider.rsMinW .rsThumbsArrowIcn::before,
	.gallerySlider.rsMinW .rsThumbsArrowIcn::after {
		content: '';
		display: block;
		width: 40px;
		height: 2px;
		background-color: #c0c0c0;
		position: absolute;
	}

	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::before,
	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::after {
		left: auto;
		right: 0;
	}

	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::before,
	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::after {
		left: 0;
	}

	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::before,
	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::before {
		top: 33px;
	}

	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::after,
	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::after {
		top: 67px;
	}

	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::before,
	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::after {
		transform: rotate(60deg);
	}

	.gallerySlider.rsMinW .rsThumbsArrowRight .rsThumbsArrowIcn::after,
	.gallerySlider.rsMinW .rsThumbsArrowLeft .rsThumbsArrowIcn::before {
		transform: rotate(-60deg);
	}
}