@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamLight.eot');
	src: local('../fonts/GothamLight'), url('../fonts/GothamLight.woff') format('woff'), url('../fonts/GothamLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamBook.eot');
	src: local('../fonts/GothamBook'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;	
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gothambold1.eot');
	src: local('../fonts/gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
			box-sizing: inherit;
}

html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Gotham', verdana;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2; /* NEW! test its side effects on whole website */
	color: #5f5f5f;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

input, textarea, select, button {
	font-family: inherit;
}

h1, h2, h3, h4, a {
	color: #49176D;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
	margin: 10px 0; /* Fix it */
}

h3 {
	font-size: 1.2rem;
}


h4 {
	font-size: 1.1rem;
}

a {
	text-decoration: none;
}

p,
.slide-text,
.calendar__legend {
	font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
	h1, #page-title {
		font-size: 2.7rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	p,
	.slide-text {
	    font-size: 1.5rem;
	}
}