/**
 * PHP Social Stream 1.3
 * Author: Axent Media
 * Author URI: http://axentmedia.com/
 * Copyright 2015 Axent Media (email: axentmedia@gmail.com)
 */

/* Common */

.filter {
	display:none;
}
.sboard {
    font-size: 11px;
    list-style: none outside none;
    box-sizing: content-box;
	font-family:"Gotham", Arial, Helvetica, sans-serif;
}
.sboard.sb-widget {
    padding: 0;
    margin: 0;
  
}
.sboard.sb-widget.tabable {
    border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
}
.sboard.normal.sb-widget.tabable {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sboard .sb-item {
    font-size: 100% !important;
	float: left;
	cursor: default;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    box-sizing: content-box;
    height: auto;
}
.sboard.sb-widget .sb-item {
    position: relative !important;
    float: none !important;
    width: auto;
    margin-bottom: 10px;
}
.sboard.sb-widget .sb-heading i.sb-arrow {
    background-image: url(../img/arrow-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 10px;
    width: 13px;
    margin-top: 4px;
}
.sboard.sb-widget.open .sb-heading i.sb-arrow {
    background-position: 35% center;
}
.sboard .panel-body.sb-item {
    float: none;
    width: auto !important;
}
.sboard .sb-item .sb-inner {
    padding: 15px 15px 5px 15px;
}
.sboard .sb-item .sb-inner p {
	margin: 0;
	padding: 0;
}
.sboard .sb-item .sb-inner a {
	color: #00aede;
    text-decoration: none;
    border: 0;
}
.sboard .sb-item .sb-inner a:hover {
    text-decoration: underline;
}
.sboard .sb-item .sb-inner .sb-thumb {
    padding: 1px;
	max-width: 100%;
	border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    display: block;
    clear: left;
    position: relative;
}
.sboard .sb-item .sb-inner .sb-thumb img {
	max-width: 100%;
    display: block;
    margin: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
/* image crop */
.sboard .sb-item .sb-inner .sb-thumb .sb-crop {
	display: block;
    width: 100%;
	height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.sboard .sb-item .sb-inner .sb-share {
	display: block;
	margin: 0;
	float: right;
    line-height: 1em;
}
.sboard .sb-item .sb-inner .sb-share a {
    padding: 4px;
    margin-right: 2px;
    text-align: center;
    box-sizing: content-box;
    display: inline-block;
}
.sboard .sb-item .sb-inner .sb-share a:hover {
    text-decoration: none;
}
.sboard .sb-item .sb-inner .sb-share .meta a {
	margin: 0 2px 0 0;
    color: #999;
}
.sboard .sb-item .sb-inner .sb-share .meta a:hover {
    color: #666666;
}
.sboard .sb-item .sb-inner .sb-meta {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.sboard .sb-item .sb-inner .sb-meta .meta .comments,
.sboard .sb-item .sb-inner .sb-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
    padding-left: 0;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
.sboard .sb-item .sb-inner .meta.item-comments {
	padding: 0 0 0 38px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.sboard .sb-item .sb-inner .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sboard .sb-item .sb-inner .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.sboard .sb-item .sb-inner .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	border-radius: 0;
	box-shadow: none;
}
.sboard .sb-item .sb-inner .sb-title {
	display: block;
	font-weight: bold;
	margin-bottom: 7px;
	max-width: 100%;
    line-height: 1.6em;
    clear: left;
}
.sboard .sb-item .sb-inner .sb-text,
.sboard .sb-item .sb-inner .sb-info {
	clear: left;
	max-width: 100%;
    line-height: 1.5em;
    display: block;
    margin-bottom: 7px;
    overflow: hidden;
}
.sboard .sb-item .sb-inner .sb-thumb.sb-object > * {
    width: 100%;
    margin-bottom: 0;
	display: block;
    width: 100%;
	height: 150px;
    background-size: cover;
}
.sboard .sb-item .sb-inner .sb-info {
    margin-top: 10px;
    display: block;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-info {
    height: 25px;
}
.sboard .sb-item .sb-inner .meta {
	display: block;
	font-size: 90%;
    clear: both;
    word-wrap: break-word;
}
.sboard .sb-item .sb-inner .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0;
	line-height: 12px;
}
.sboard .sb-item .sb-inner .sb-user {
	font-style: italic;
	margin: 0px 5px 0 0;
	display: block;
	float: left;
	padding: 0;
	line-height: 16px;
	color: #999;
}
.sboard .sb-item .sb-footer {
    padding: 7px 15px 7px 9px;
	font-style: normal;
	font-weight: bold;
	font-size: 90%;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}
.sboard .sb-item .sb-footer a {
	color: #fff;
    border: 0;
}
.sboard .sb-item .sb-footer a:hover {
    text-decoration: underline;
}
.fa-hover {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    text-decoration: none;
    color: #fff !important;
}
.fa-hover:hover, .filter .active, .filter-items .active {
    background-color: #353535;
    border-color: #353535;
    color: #fff !important;
}
/* google */
.sboard .sb-item.sb-google .sb-inner .sb-title {
	margin-bottom: 5px;
}
.sboard .sb-item.sb-google .sb-inner .meta span.plusones {
	padding-left: 0;
}
/* vimeo */
.sboard .sb-item.sb-vimeo .sb-title {
	display: block;
	clear: both;
}
.sboard .sb-item.sb-vimeo .sb-text .meta,
.sboard .sb-item.sb-vimeo .sb-info .meta {
	padding-top: 5px;
}

.sboard .sb-opener {
    position: absolute;
    display: block;
    color: white;
    width: 30px;
    top: 45px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
}
.sboard.sb-right .sb-opener {
    left: 0px;
    margin-left: -30px;
    border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
}
.sboard .sb-opener img {
    box-shadow: none;
    border-radius: 0;
    vertical-align: middle;
}
.sboard.sb-left .sb-opener {
    right: 0px;
    margin-right: -30px;
}
.sboard.sb-left .sb-opener {
    border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
}
.sboard .sb-heading {
	font-size: 12px;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
	position: relative;
    line-height: normal;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard .sb-content {
	position: relative;
	overflow: hidden;
	padding: 10px 10px 5px 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.sboard .sb-content .sb-loading {
    height: 100px;
    background: url('../img/loading.gif') no-repeat center bottom transparent;
    text-align: center;
    padding: 0 0 80px 0;
}
.sboard .sb-content .sb-loading i {
    margin-top: 35px;
}
.sb-loadmore {
    margin: 40px 0 20px 0;
    padding: 10px 0 10px 0;
    background-color: #e4dce9;
    cursor: pointer;
    font-size: 11px;
		color:#49176d;
    text-align: center;
}

.sb-loadmore p {
    padding: 0px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
.sb-loadmore:hover {
    outline: 0 none;
    background-color: #49176d;
	color:#FFFFFF;
}

.sb-loadmore .sb-loading {
    background: url('../img/more-loading.gif') no-repeat center 55% transparent;
}



.sboard-nodata {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 5px;
}
.sboard .toolbar {
	padding: 3px 5px 5px 5px;
	position: relative;
    overflow: hidden;
    line-height: 1em;
    font-size: 0;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
}
.sboard .control {
    float: right;
}
.sboard .control span:last-child {
    padding-right: 0;
}
.sboard .toolbar span {
	display: inline-block;
    box-sizing: content-box;
    margin: 2px 2px 0 0;
	cursor: pointer;
	width: 25px;
    height: 25px;
    text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.sboard .toolbar span:hover {
	color: #333;
}
.sboard .toolbar i {
    margin-top: 5px;
}
.sboard.sb-widget .sb-content ul {
    overflow: visible !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.sboard.sb-widget .sb-content ul li {
    list-style: none !important;
}

/* sticky */
.sboard.sticky,
.sboard.slide {
    position: fixed;
    z-index: 99999;
    margin: 0 !important;
}
.sboard.sticky.sb-bottom_left,
.sboard.slide.sb-bottom_left {
    bottom: 0;
    left: 5px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard.sticky.sb-bottom_right {
    bottom: 0;
    right: 5px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard.sticky.sb-left {
    top: 20%;
    left: 0;
    border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
}
.sboard.sticky.sb-right {
    top: 20%;
    right: 0;
}
.sboard.sticky.sb-right .toolbar {
    overflow: hidden;
    border-radius: 0 0 0 7px;
    -moz-border-radius: 0 0 0 7px;
    -webkit-border-radius: 0 0 0 7px;
}
.sboard.sticky.sb-left .toolbar {
    border-radius: 0 0 7px 0;
    -moz-border-radius: 0 0 7px 0;
    -webkit-border-radius: 0 0 7px 0;
}
.sboard.sticky.sb-bottom_right .toolbar,
.sboard.sticky.sb-bottom_left .toolbar {
    border-bottom: 0 !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.sboard.sticky.sb-right .sb-heading {
    border-radius: 7px 0 0 0;
    -moz-border-radius: 7px 0 0 0;
    -webkit-border-radius: 7px 0 0 0;
}
.sboard.sticky.sb-left .sb-heading {
    border-radius: 0 7px 0 0;
    -moz-border-radius: 0 7px 0 0;
    -webkit-border-radius: 0 7px 0 0;
}
.sboard.sticky.sb-bottom_right .sb-heading,
.sboard.sticky.sb-bottom_left .sb-heading {
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}

/* tabable */
.sboard.sticky.tabable .sb-tabs {
    position: absolute;
    display: block;
    color: white;
    width: 150px;
    top: 45px;
}
.sboard.sticky.tabable.sb-right .sb-tabs {
    float: left;
    left: 0px;
    margin: 0 0 0 -35px;
}
.sboard.sticky.tabable.sb-left .sb-tabs {
    float: right;
    right: 0px;
    margin: 0 -35px 0 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs {
    width: 250px;
    top: -35px;
    margin-left: 7px;
}
.sboard.normal.tabable .sb-tabs {
    display: table;
    margin-left: 7px;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs.minitabs,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs.minitabs {
    top: -28px;
}
.sboard.sticky.tabable .sb-tabs .sticky li,
.sboard.normal.tabable .sb-tabs .sticky li
{
	list-style-type: none;
	background-color: #8E8E8E;
	color: #fff;
	padding: 6px 0 0 0;
	margin: 0px 0px 1px 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor: pointer;
    line-height: 2em;
    box-sizing: content-box;
}
.sboard.normal.tabable .sb-tabs .sticky li {
    margin: 0;
    width: 35px;
    line-height: normal;
}
.sboard.normal.tabable .sb-tabs.minitabs .sticky li {
    width: 25px;
    height: 25px;
}
.sboard.sticky.tabable .sb-tabs.minitabs .sticky li {
    height: 20px;
    line-height: 1.2em;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li {
	height: 27px;
    text-align: left;
    line-height: 1.6em;
    border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li {
	height: 27px;
    text-align: right;
    line-height: 1.6em;
    border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs .sticky li,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs .sticky li,
.sboard.normal.tabable .sb-tabs .sticky li {
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 1px;
    border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs.minitabs .sticky li,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs.minitabs .sticky li {
    width: 25px;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li:hover,
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li.active {
	margin-left: -115px;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li:hover,
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li.active {
	margin-right: -115px;
}
.sboard.sticky.tabable .sb-tabs .sticky li img {
	float: left;
	margin: 5px 5px;
	margin-right: 10px;
}
.sboard.sticky.tabable .sb-tabs .sticky i {
    font-size: 180%;
    margin: 1px 5px 0 5px;
}
.sboard.sticky.tabable .sb-tabs.minitabs .sticky i {
    font-size: 120%;
    margin: 1px 4px 0 4px;
}
.sboard.sticky.tabable.sb-right .sb-tabs.minitabs .sticky i {
    margin: 1px 8px 0 8px;
}
.sboard.sticky.tabable.sb-left .sb-tabs.minitabs .sticky i {
    margin: 1px 6px 0 10px;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky i {
    float: left;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky i {
    float: right;
}
.sboard.sticky.tabable .sb-tabs .sticky li span {
	text-transform: uppercase;
    font-size: 120%;
}

/* carousel */
.sboard.sb-carousel .sb-content {
    padding: 10px;
}
.sboard.sb-carousel .sb-item {
    margin-right: 1px;
    float: none;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-text {
    display: block;
    height: 50px;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-title {
    display: table-row;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-text .expand {
    height: 100px;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-thumb {
    display: block;
    max-width: 100%;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg {
    text-align: center;
    position: relative;
    top: 15%;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg img {
    display: inline;
    margin: 20px auto 10px;
    max-height: 50px;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg span {
	font-size: 200%;
    display: block;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-quote {
    background: url(../img/blockquote.png) no-repeat scroll center center;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-playstate {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: url(../img/playstate.png) no-repeat scroll center center;
}

/* filter */
.filter-items {
    padding: 15px 0 15px 0;
    font-size: 0;
}
.filter-label {
	display: inline-block;
    box-sizing: content-box !important;
	margin: 0px 5px 0px 0px;
	padding: 5px;
    width: 25px;
    height: 25px;
	cursor: pointer;
    text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.filter-label i {
    margin: 1px 0 0 0;
}

/* social icons */
.sb-icon {
    background-image: url(../img/social-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 23px;
    width: 25px;
}
.sb-tabs.minitabs .sb-icon {
    background-image: url(../img/social-icons-mt.png);
    height: 19px;
    width: 21px;
}
.sb-icon.sb-facebook { background-position: -2% 0; }
.sb-icon.sb-twitter { background-position: 5.5% 0; }
.sb-icon.sb-google { background-position: 13.5% 0; }
.sb-icon.sb-tumblr { background-position: 21.5% 0; }
.sb-icon.sb-delicious { background-position: 28.5% 0; }
.sb-icon.sb-pinterest { background-position: 36.5% 0; }
.sb-icon.sb-flickr { background-position: 44.5% 0; }
.sb-icon.sb-instagram { background-position: 52% 0; }
.sb-icon.sb-youtube { background-position: 60.5% 0; }
.sb-icon.sb-vimeo { background-position: 68% 0; }
.sb-icon.sb-stumbleupon { background-position: 76.5% 0; }
.sb-icon.sb-deviantart { background-position: 85.5% 0; }
.sb-icon.sb-rss { background-position: 93% 0; }
.sb-icon.sb-ellipsis-h { background-position: 100.5% 0; }
.sb-icon.sb-soundcloud { background-position: 0 100%; width: 26px; }
.sb-icon.sb-vk { background-position: 9.2% 100%; width: 24px; }

/* social mini icons */
.sb-micon {
    background-image: url(../img/social-icons-mini.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 16px;
}
.sb-micon.sb-facebook { background-position: -2% 0; }
.sb-micon.sb-twitter { background-position: 6% 0; }
.sb-micon.sb-google { background-position: 14.5% 0; }
.sb-micon.sb-tumblr { background-position: 23% 0; }
.sb-micon.sb-delicious { background-position: 31% 0; }
.sb-micon.sb-pinterest { background-position: 39.5% 0; }
.sb-micon.sb-flickr { background-position: 48% 0; }
.sb-micon.sb-instagram { background-position: 56.5% 0; }
.sb-micon.sb-youtube { background-position: 65.5% 0; }
.sb-micon.sb-vimeo { background-position: 74% 0; }
.sb-micon.sb-stumbleupon { background-position: 83.5% 0; }
.sb-micon.sb-deviantart { background-position: 92.5% 0; }
.sb-micon.sb-rss { background-position: 100.8% 0; }
.sb-micon.sb-soundcloud { background-position: 0% 100%; width: 18px; }
.sb-micon.sb-vk { background-position: 9.2% 100%; width: 16px; }

/* share icons */
.sb-sicon {
    background-image: url(../img/share-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    width: 13px;
}
.sb-sicon.sb-facebook { background-position: -4.5% center; }
.sb-sicon.sb-twitter { background-position: 9.5% center; }
.sb-sicon.sb-google { background-position: 25.5% center; }
.sb-sicon.sb-linkedin { background-position: 41.5% center; }
.sb-linkedin.fa-hover:hover, .sb-linkedin.active {
    background-color: #48166c;
    border-color: #057094;
    color:#fff
}

/* board icons */
.sb-bico {
    background-image: url(../img/board-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 16px;
    opacity: 0.8;
}
.sb-bico.sb-wico {
    background-image: url(../img/board-icons-w.png);
    opacity: 1;
}
.sb-bico.sb-user { background-position: -0.3% -2%; }
.sb-bico.sb-users { background-position: 3.5% 0; }
.sb-bico.sb-comment { background-position: 8% 0; }
.sb-bico.sb-comment-o { background-position: 12% 0; }
.sb-bico.sb-comments { background-position: 16% 0; }
.sb-bico.sb-reply { background-position: 20.4% 0; }
.sb-bico.sb-retweet { background-position: 24.5% 0; }
.sb-bico.sb-star { background-position: 28.8% 0; }
.sb-bico.sb-star-o { background-position: 32.5% 0; }
.sb-bico.sb-play-circle { background-position: 36.5% 0; }
.sb-bico.sb-check-square-o { background-position: 40.5% 0; }
.sb-bico.sb-thumbs-up { background-position: 44.5% 0; }
.sb-bico.sb-clock-o { background-position: 48.5% 0; }
.sb-bico.sb-arrow-down { background-position: 52.3% 0; }
.sb-bico.sb-arrow-up { background-position: 56.3% 0; }
.sb-bico.sb-pause { background-position: 60.3% 0; }
.sb-bico.sb-play { background-position: 63.9% 0; }
.sb-bico.sb-ellipsis-h { background-position: 67.5% 0; }
.sb-bico.sb-pencil { background-position: 71.2% 0; }
.sb-bico.sb-image { background-position: 75.3% 0; }
.sb-bico.sb-edit { background-position: 79.5% 0; }
.sb-bico.sb-link { background-position: 83.5% 0; }
.sb-bico.sb-quote-right { background-position: 87.5% 0; }
.sb-bico.sb-video-camera { background-position: 91.7% 0; }
.sb-bico.sb-camera { background-position: 95.8% 0; }
.sb-bico.sb-youtube-play { background-position: 100.1% 0; }
.sb-bico.sb-cloud-download { background-position: 0% 100%; }

/* timeline */
.timeline .timeline-row .timeline-icon i.sb-icon {
    margin-top: 7px;
}
.timeline .timeline-row .timeline-icon i.sb-bico {
    margin-top: 10px;
}
.timeline .timeline-row .timeline-content .panel-body {
    padding: 3px 0 3px 0;
}

/* Layout: default */
.sboard.sb-default {
    margin: 0 3px 0 3px;
}
.sboard.sb-default .sb-item {
    border: 0px;
    box-shadow: 0px 0px 1px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0px 0px 1px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0px 0px 1px rgba(34, 25, 25, 0.4);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.sboard.sb-default.sb-carousel .sb-item {
    margin: 5px;
}
.sboard.sb-widget.sb-default.border {
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
.sboard.sb-widget.sb-default .sb-item {
    margin-right: 0;
    margin-left: 0;
}

/* Layout: flat */
.sboard.sb-flat {
    margin-right: 5px;
}
.sboard.sb-flat .sb-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sboard.sb-flat .sb-item .sb-footer,
.sboard.sb-default .sb-item .sb-footer {
    line-height: 2em;
    height: 22px;
}
.sboard.sb-widget.sb-flat.border {
    border: 1px solid #EDEDED;
}
.sboard.sb-widget.sb-flat .sb-item {
    margin: 0 0 3% 0;
}
.sboard.sb-flat .sb-item .sb-footer i,
.sboard.sb-default .sb-item .sb-footer i {
    float: left;
    margin: 0 5px 0 0;
}

/* Layout: modern */
.sboard.sb-modern.sb-wall {
    margin-right: 10px;
}
.sboard.sb-modern .sb-item {
    overflow: visible !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sboard.sb-modern .sb-item .sb-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 15px 0 15px;
    padding: 7px 0 7px 0;
    color: inherit;
    line-height: 2em;
}
.sboard.sb-modern .sb-item .sb-footer i {
    margin-top: 4px;
    float: right;
}
.sboard.sb-widget.sb-modern.border {
    border: 1px solid #EDEDED;
}
.sboard.sb-widget.sb-modern .sb-item {
    margin: 0 0 3% 0;
}
.sboard.sb-modern.sb-carousel .sb-item {
    margin-right: 8px;
    float: none;
}
.sboard.sb-modern .origin-flag {
    background-color: transparent;
    height: 28px;
    width: 30px;
    color: #FFF;
    text-align: center;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    margin-right: -8px;
    margin-top: 7px;
    z-index: 1;
}
.sboard.sb-carousel.sb-modern .origin-flag {
    float: right;
    position: relative;
}
.sboard.sb-modern .origin-flag:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #2e8dad;
    content: " ";
    height: 0;
    position: absolute;
    right: 0;
    top: 28px;
    width: 0;
}
.sboard.sb-modern .origin-flag i {
    margin: 3px 0 0 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky li
{
    height: 0;
    padding: 0;
    width: auto;
    border-right: 20px solid transparent;
    border-bottom: 32px solid rgba(142, 142, 142, 0.9);
    background-color: transparent;
    margin: 0 -10px 0 0 !important;
    border-radius: 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky span {
    padding: 6px 5px 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky i {
    vertical-align: middle;
}
.sboard.normal.tabable.sb-modern .sb-tabs.minitabs .sticky li {
    border-right-width: 16px;
    border-bottom-width: 24px;
    margin-right: -10px !important;
    line-height: 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs.minitabs .sticky span {
    padding: 4px 5px 1px 5px;
}

/* Skin: modern-dark */
.sboard.sb-modern-dark .sb-item .sb-inner .sb-title {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.sboard.sb-modern-dark .sb-item .sb-bico {
    background-image: url(../img/board-icons-w.png);
    opacity: 0.6;
}

/* Layout: modern2 */
.sboard.sb-modern2 .sb-item {
    overflow: visible !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sboard.sb-modern2 .sb-item .sb-inner .sb-text {
    display: block;
}
.sboard.sb-modern2 .sb-item .sb-inner {
    padding-bottom: 0;
}
.sboard.sb-modern2 .sb-item .sb-user {
    margin-bottom: 10px;
    display: table;
    width: 75%;
}
.sboard.sb-modern2.sb-carousel .sb-item .sb-inner .sb-info {
    height: 30px;
}
.sboard.sb-carousel.sb-modern2 .sb-item .sb-user {
    height: 58px;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uthumb {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 1.42857;
    padding: 3px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out 0s;
    box-sizing: content-box;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uthumb img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo {
    display: inline-block;
    float: left;
    margin-top: 5px;
    width: 55%;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo.sb-nouthumb {
    margin-top: 0;
    width: 85%;
}
/*
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo.sb-nouthumb .sb-utitle {
    overflow: visible;
}
*/
.sboard.sb-modern2 .sb-item .sb-user .sb-utitle {
    font-weight: bold;
    font-size: 140%;
    margin: 5px 0 5px 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-utitle a {
    font-size: 95% !important;
    color: #999 !important;
}
.sboard.sb-modern2 .sb-item .sb-info .sb-date {
    float: left;
}
.sboard.sb-modern2 .sb-item .sb-info .sb-date i {
    float: left;
    margin: 5px 5px 0 0;
}
.sboard.sb-modern2 .sb-item .sb-info {
    padding: 7px 0 7px 0;
    line-height: 2em;
    margin-top: 10px;
}
.sboard.sb-carousel.sb-modern2 .sb-item .sb-info {
    padding: 0;
}
.sboard.sb-modern2 .sb-item .icon {
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-sizing: content-box;
	padding-top:22px;
}
.sboard.sb-modern2.timeline .sb-inner {
    padding: 10px 10px 0 10px;
}
.sboard.sb-widget.sb-modern2.border {
    border: 1px solid #EDEDED;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky li
{
    height: 0;
    padding: 0;
    width: auto;
    border-right: 20px solid transparent;
    border-bottom: 32px solid rgba(142, 142, 142, 0.9);
    background-color: transparent;
    margin: 0 -10px 0 0 !important;
    border-radius: 0;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky span {
    padding: 6px 5px 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky i {
    vertical-align: middle;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs.minitabs .sticky li {
    border-right-width: 16px;
    border-bottom-width: 24px;
    margin-right: -10px !important;
    line-height: 0;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs.minitabs .sticky span {
    padding: 4px 5px 1px 5px;
}

/* social icons colored */
.sb-cicon {
    background-image: url(../img/social-icons-colored.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    width: 35px;
}
.sb-cicon.sb-facebook { background-position: -1% 0; }
.sb-cicon.sb-twitter { background-position: 6.5% 0; }
.sb-cicon.sb-google { background-position: 15.5% 0; }
.sb-cicon.sb-tumblr { background-position: 24% 0; }
.sb-cicon.sb-delicious { background-position: 31.5% 0; }
.sb-cicon.sb-pinterest { background-position: 39.7% 0; }
.sb-cicon.sb-flickr { background-position: 48.2% 0; }
.sb-cicon.sb-instagram { background-position: 56.7% 0; }
.sb-cicon.sb-youtube { background-position: 65.5% 0; }
.sb-cicon.sb-vimeo { background-position: 74% 0; }
.sb-cicon.sb-stumbleupon { background-position: 83.5% 0;width: 45px; }
.sb-cicon.sb-deviantart { background-position: 92% 0; }
.sb-cicon.sb-rss { background-position: 100.5% 0; }
.sb-cicon.sb-soundcloud { background-position: 0 97%;width: 45px;height: 25px; }
.sb-cicon.sb-vk { background-position: 10% 97%;width: 45px;height: 25px; }
