.room {
	max-width: none;
}

.room:hover {
	background-color: #eeebf1; 
}

.rooms, .suites, .others {
	margin-bottom: 40px;
}

.room__img {
	height: 160px;
	background: url(../../images/_carousel.jpg) no-repeat center;
	-webkit-background-size: cover;
			background-size: cover;
}

.section-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 3rem;
}

.others figcaption {
	text-align: center;
	font-size: 1.4rem;
	color: #999999;
}

.others img {
	display: block;
	margin: 0 auto 10px;
	width: 100%;
	height: auto;
	max-width: 380px;
}

.others__link {
	display: block;
	margin: 0 auto 20px;
	max-width: 380px;
}

.others__link:hover figcaption {
	color: #49176D;
	font-weight: 600;
}

@media screen and (min-width: 652px) {
	.room {
		max-width: 280px;
		float: left;
	}

	.room:nth-of-type(odd) {
		clear: left;
	}

	.room:nth-of-type(even) {
		clear: right;
	}
}

@media screen and (min-width: 1000px) {
	.others__link:nth-of-type(odd) {
		clear: left;
	}

	.others__link:nth-of-type(even) {
		clear: right;
	}

	.room:nth-of-type(3n),
	.room:nth-of-type(2n) {
		clear: none;
	}

	.room:nth-of-type(4n) {
		clear: left;
	}

	.others__link {
		float: left;
		margin-right: 30px;
	}

	.room-type {
		font-size: 1.8rem;
	}

}

@media screen and (min-width: 1263px) {
	.others__link:nth-of-type(3n) {
		margin-right: 0;
	}

	.others__link:nth-of-type(2n), .others__link:nth-of-type(3n) {
		clear: none;
	}

	.room:nth-of-type(3n), .room:nth-of-type(4n) {
		clear: none;
	}

}