.recommended-rooms,
.recommended-restaurants {
	margin-top: 70px;
}

.recommended-rooms h3 {
	margin-bottom: 10px;
}

.recommended-rooms .room {
	width: 100%;
	max-width: 223px;
	text-align: left;
	margin-right: 20px;
}

.recommended-rooms .room img {
	width: 100%;
	height: auto;
}

.recommended-rooms .room .feature-details {
	color: #86659e;
}

.recommended-rooms .room .feature-title {
	color: #b7a3c5;
}

.recommended-rooms__title,
.recommended-restaurants__title {
	text-align: left;
	margin-bottom: 20px;
}

.card {
	display: block;
	border: 1px solid #dad0e2;
	padding: 10px;
}

.card p {
	color: #858585;
}

.card .card__image {
	border-bottom: 1px solid #e0e0e0;
}

.slides {
	width: 223px;
	margin-right: 17px; 
}

.card__image {
	width: 100%;
	height: auto;
}

.card__text {
	color: #49176D;
	margin-top: 10px;
	overflow: hidden;
	max-height: 90px;
}

.card__text__first-paragraph {
	margin-bottom: 20px;
}

.flickity-prev-next-button {
	top: -30px;
}

.flickity-prev-next-button .arrow {
	fill: #49176D;
}

@media screen and (min-width: 1000px) {
	.inline-block {
		display: block;
	}

	.recommended-rooms__title,
	.recommended-restaurants__title {
		text-align: center;
	}

	.content-container .content-container__list1 li {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 1200px) {
	.content-container__list2 {
		margin-top: 40px;
	}
}