.names {
	width: 100%;
	height: 150px;
	overflow: scroll;
	border-top: 1px solid #49176D;
	border-bottom: 1px solid #49176D;
}

.names div {
	font-size: 1.5rem;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.names div:hover {
	color: #49176D;
	font-weight: bold;
}

.content-container .title-name {
	margin-top: 40px;
}

.about-name {
	display: none;
}

@media screen and (min-width: 1000px) {
	.names,
	.about-names {
		display: table-cell;
	}

	.names {
		width: 20%;
		border: none;
		border-right: 1px solid  #c4c2c1;
		height: auto;
		overflow: hidden;
	}

	.about-names {
		width: 80%;
		padding-left: 40px;
		vertical-align: middle;
	}

	.names div {
		padding: 0;
		padding-bottom: 10px;
	}

}