.dots-line,
.dot {
	background-color: #a48bb6;
}

.dots-line {
	width: 100%;
	height: 1px;
	margin: 30px 0 50px 0;
}

.area-names,
.dots-line {
	position: relative;
}

.dot {
	display: none;
	position: absolute;
	top: -5px;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.dots-line .medium-dot,
.dots-line .big-dot {
	background-color: #49176D;
}

.dots-line .medium-dot {
	width: 15px;
	height: 15px;
	top: -7.5px;
}

.dots-line .big-dot {
	width: 20px;
	height: 20px;
	top: -10px;
}

.dot-name {
	opacity: 0;
	position: absolute;
	top: -30px;
	color: #49176D;
	font-size: 1.2rem;
	-webkit-transform: translateX(-40%);
	   -moz-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	        transform: translateX(-40%);
}

.big-dot.dot-name {
	top: -80px;
	font-size: 1.5rem;
}

.area {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #a48bb6;
	display: none;
}

.time-taken-to-reach,
.beirut-category-title,
.targeted-area {
	font-size: 1.6rem;
}

.area-name,
.beirut-category-title {
	font-weight: bold;
}

.time-taken-to-reach,
.beirut-category-title {
	color: #49176d;
}

.beirut-category {
	margin: 25px 0;
}

.tr {
	display: table-row;
}

.area-name {
	margin-top: 0;
}

.area-description {
	color: #42354c;
}

.weather-time {
	margin: 20px 0;
	height: 30px;
	line-height: 30px;
	color: #49176d;
}

.smaller {
	font-size: 70%;
	color: #45196e;
	opacity: .7;
	margin-right: 10px;
}

.beirut {
	clear: both;
}

.beirutCity,
.beirutTime,
.beirutWeather,
.degrees,
.cloud {
	float: left;
	display: block;
}

.beirutCity {
	margin: 0;
	margin-right: 10px;
	vertical-align: bottom;
}

.beirutTime,
.beirutWeather {
	font-size: 1.5rem;
}

.beirutTime,
.degrees {
	margin-right: 10px;
	margin-left: 10px;
}

.cloud {
	width: 36px;
}

@media screen and (min-width: 1000px) {
	.weather-time {
		position: static;
	}

	.dot {
		cursor: pointer;
	}

	.dot:hover {
		background-color: #49176D;
	}

	.dots-line {
		margin-top: 50px;
	}

	.area {
		padding-bottom: 50px;
	}

	.targeted-area {
		font-size: 2rem;
	}

	.beirut-category {
		margin: 0;
		display: table-cell;
		width: 50%;
	}

	.beirut-category:first-child {
		padding: 20px 50px 0 0;
	}

	.beirut-category-title {
		font-size: 1.8rem;
	}

}