.results {
	margin-top: 40px;
}

.result {
	margin-bottom: 20px;
	-webkit-transition: opacity 200ms;
	   -moz-transition: opacity 200ms;
	        transition: opacity 200ms;
}

.result h3 {
	color: #49176D;
	font-size: 1.6rem;
	font-weight: bold;
}

.result p {
	color: #42354c;
}

.btns-wrapper .active {
	background-color: #49176d;
	color: #FFF;
}

@media screen and (min-width: 1000px) {
	.result {
		width: 47.5%;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.btns-wrapper {
		display: inline-block;
	}

	.filteringBtn {
		display: inline-block;
		margin: 0 10px;
		transition: all 200ms;
	}

	.filteringBtn:hover {
		background-color: #49176d;
		color: #FFF;
	}
}