.regularBtnsWrapper {
	margin-bottom: 30px;
	float: left;
}

.level1,
.level2,
.blue-print {
	float: left;
	clear: none;
	cursor: pointer;
}

.level2 {
	margin-right: 10px;
	margin-left: 10px;
}

.content-container__heading {
	float: left;
}

.rooms-maps {
	width: 100%;
	height: auto;
	background: url(../../images/_capacities.jpg) no-repeat center; 
	background-size: cover;
	clear: both;
}

.rooms-maps div {
	padding-top: 47.9215%;
}

.table {
	width: 100%;
	table-layout: fixed;
}

.tr {
	display: table-row;
}

.tr.white {
	background-color: #fff;
	color: #000;
}

.tr.pink {
	background-color: #e5deea;
	color: #6c3a90;
}

.capacities .table:first-child .tr,
.dimensions .table:first-child .tr {
	background-color: #6c3a90;
	color: #fff;
}

.sub-row {
	display: none;
}

.clickable {
	cursor: pointer;
}

.tc {
	display: table-cell;
	height: 60px;
	vertical-align: middle;
	padding-left: 20px;
}

.tc.light-pink {
	background-color: #ebebeb;
}

.sub-cell {
	vertical-align: top;
	padding: 10px 0 10px 20px;
}

.capacities__image {
	width: 100%;
	height: auto;
}

.table .desktop-only {
	display: none;
}

.imageLink {
	display: block;
}

@media screen and (min-width: 1000px) {
	.table .desktop-only {
		display: table-cell;
	}
}