.flickity-prev-next-button .arrow {
	fill: #fff;
}

.flickity-prev-next-button {
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

.flickity-prev-next-button svg {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.flickity-prev-next-button.previous {
	left: 20px;
}

.flickity-prev-next-button.next {
	right: 20px;
}

.sub-title {
	font-size: 1.4rem;
	color: #49176d;
	margin-bottom: 20px;
	line-height: 1.2;
}

.champagne {
	color: #49176d;
	line-height: 1.2;
	margin-bottom: 20px;
}

.champagne .name {
	font-weight: bold;
	font-size: 1.6rem;
}

.champagne .date {
	font-size: 1.4rem;
}

.champagne .description {
	font-size: 1.3rem;
	margin-top: 5px;
	color: #42354c;
}

@media screen and (min-width: 1000px) {
	.champagne,
	.champagne .description {
		line-height: 1.4;
	}
	
	.champagne {
		margin-bottom: 40px;
	}

	.champagne .date {
		font-size: 1.6rem;
	}

	.champagne .name {
		font-size: 1.8rem;
	}

	.champagne .description {
		margin-top: 0;
	}

	.sub-title {
		font-size: 1.8rem;
	}

	.content-container h1 {
		margin-bottom: 30px;
	}

	.champagne {
		width: 45%;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}
}