.collection {
	margin-bottom: 30px;
	text-align: left;
}

.collection a {
	display: block;
	max-width: 380px;
	max-height: 466px;
	position: relative;
}

.collection a:hover .layer,
.collection a:hover .layer-text {
	display: block;
}

.collection img {
	width: 100%;
	height: auto;
}

.layer,
.collection-title,
.layer-text {
	position: absolute;
}

.layer-text,
.collection-title {
	color: rgba(255,255,255,1);
}

.layer,
.layer-text {
	display: none;
}

.collection-title,
.layer-text {
	left: 20px;
}

.collection-title {
	top: 20px;
	margin: 0;
	z-index: 1;
	font-size: 1.8rem;
}

.layer {
	background-color: #49176d;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .8;
}

.layer-text {
	top: 80px;
	font-size: 1.4rem;
	line-height: 1.2;
	padding-right: 20px;
}

.page-text {
	text-align: left;
	margin: 20px 0;
}

@media screen and (min-width: 768px) {
	.collection-title {
		font-size: 2.3rem;
	}

	.layer-text {
		top: 90px;
	}
}

@media screen and (min-width: 864px) {
	.collection {
		margin-right: 30px;
		float: left;
	}

	.collection:last-child {
		margin-right: 0;
		clear: left;
	}
}

@media screen and (min-width: 1243px) {
	.collection:last-child {
		clear: none;
	}
}