.card-menu {
	text-align: center;
}

.card {
	border: 1px solid #dad0e2;
	margin-bottom: 20px;
	display: inline-block;
	padding: 10px;
}

.card__image {
	width: 100%;
	height: auto;
}

.linkWrapper {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.card .bg-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.card--thin {
	max-width: 380px;
	height: 270px;
	width: 100%;
	text-align: center;
	vertical-align: bottom;
}

.card--thin .card__image {
	border-bottom: 1px solid #e0e0e0;
	max-width: 315px;
	padding-bottom: 30px;
}

.card--wide {
	width: 100%;
	height: 160px;
	max-width: 580px;
	max-height: 240px;
	min-height: 140px;
	text-align: center;
	vertical-align: bottom;
}

.card--wide .card__image {
	max-width: 300px;
}

.card--thin h3 {
	color: #48166c;
	font-size: 1.5rem;
}

.card__text__first-title {
	margin-top: 20px;
}

.card__text {
	color: #858585;
}

.card__text__first-paragraph {
	margin-bottom: 25px;
}

.card__text__last-paragraph {
	height: 40px;
	overflow: hidden;
}

@media screen and (min-width: 400px) {
	.card--thin .card__image {
	    padding-bottom: 10px;
	}
}

@media screen and (min-width: 825px) {
	.card--thin.card--odd,
	.card--thin.card--even {
		margin-right: 30px;
	}
}

@media screen and (min-width: 867px) {
	.card:nth-child(2), .card:nth-child(3) {
		vertical-align: top;
	}
}

@media screen and (min-width: 888px) {
	.card--thin.card--even {
		margin-right: 0;
	}
}

@media screen and (min-width: 1000px) {
	.card--thin.card--even {
		margin-right: 30px;
	}

	.card:hover {
		border: 1px solid #48166c;
	}

	.card .bg-link {
		display: block;
		opacity: 0;
		background: url(../../images/_dining-first.jpg) no-repeat center;
		background-size: cover;
		-webkit-transform: scale(0);
		   -moz-transform: scale(0);
		    -ms-transform: scale(0);
		        transform: scale(0);
		-webkit-transition: transform .7s, opacity 1s;
			-ms-transition: transform .7s, opacity 1s;
		   -moz-transition: transform .7s, opacity 1s;
		   	 -o-transition: transform .7s, opacity 1s;
				transition: transform .7s, opacity 1s;
	}

	.card:hover .bg-link {
		opacity: 1;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: transform .7s, opacity 1s;
			-ms-transition: transform .7s, opacity 1s;
		   -moz-transition: transform .7s, opacity 1s;
		   	 -o-transition: transform .7s, opacity 1s;
				transition: transform .7s, opacity 1s;
	}
}

@media screen and (min-width: 1225px) {
	.card--wide.card--odd,
	.card--wide.card--even {
		margin-right: 40px;
	}

}

@media screen and (min-width: 1264px) {
	.card--wide.card--even {
		margin-right: 0;
	}

	.card {
		float: left;
		display: block;
	}

	.card:nth-child(3n), .card:last-child {
		margin-right: 0;
	}
}