#map {
	width: 100%;
	height: auto;
	min-height: 250px;
}

.direction-instructions {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dbd1e2;
}

.direction-instructions p {
	color: #42354c;
}

.address-details p,
.address-details a {
	color: #49176d;
	font-size: 1.4rem;
}

.address-details p,
.address-details a {
	line-height: 1.6;
}

@media screen and (min-width: 1000px) {
	#map {
		min-height: 500px;
	}

	.direction-instructions,
	.address-details {
		float: left;
	}

	.direction-instructions {
		width: 70%;
		padding-right: 40px;
		border-bottom: none;
		border-right: 1px solid #dbd1e2;
	}

	.address-details {
		width: 30%;
		padding-left: 40px;
	}
	
}

@media screen and (min-width: 1000px) and (max-height: 670px) {
	#map {
		min-height: 350px;
	}
}