.content-container__list2 {
	margin-top: 30px;
}

.collapsed:first-child,
.content-container__list2__row:first-child .content-container__list2__title,
.content-container__list2__row:first-child .content-container__list2__text {
	padding-top: 0;
}

.collapsed, .collapsable div {
	border-bottom: 1px solid #49176d;
	padding: 10px 0 10px 0;
	color: #49176d;
}

.share-love-story {
	padding-top: 20px;
}

.collapsed span, .collapsed a,
.collapsable ul li span {
	display: block;
}

.collapsed span {
	width: 80%;
	color: #49176d;
	float: left;
}

.collapsed a {
	width: 20%;
	color: #8a8a8a;
	float: right;
	text-align: right;
}

.collapsed a:hover {
	color: #49176d;
}

.collapsable ul {
	margin-top: 5px;
}

.collapsable li {
	overflow: auto;
	padding: 5px;
}

.collapsable span {
	line-height: 1.2;
}

.collapsable span:first-child {
	float: left;
	width: 60%;
}

.collapsable span:last-child {
	width: 40%;
	float: right;
	color: #aa93bb;
	padding-left: 30px;
}

.collapsable.pink span:first-child {
	color: #aa93bb;
}

.share-love-story div {
	color: #49176d;
	font-size: 1.8rem;
}

.share-love-story form {
	position: relative;
}

.share-love-story textarea {
	border: 1px solid #b6a2c5;
	height: 150px;
	resize: none;
	width: 100%;
	color: #C693D2;
}

.share-love-story input[type="submit"] {
	color: #49176d;
	background-color: #e4dce9;
	padding: 0 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px 10px;
	border: none;
}

.share-love-story input[type="submit"]:hover {
	background-color: #49176d;
	color: #e4dce9;
}