/************************************************************************************************************
* Generic styles
************************************************************************************************************/

.swiper-scrollbar {
	background-color: #E4DCE9;
}

.swiper-scrollbar-drag {
	background-color: #49176D;
}

.swiper-container {
	width: 100%;
	padding-top: 76px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

/************************************************************************************************************
* Tiles section
************************************************************************************************************/

.tile-layer {
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	        transition: all .3s;
}

.tile-layer:hover {
	background-color: #49176D;
	opacity: .8;
}

.tile-layer .tile-text {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 1.3rem;
	word-break: break-all;
}

.tile-wrapper {
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.tile1 {
	background-image: url(../../images/home_tile1.jpg);
	width:24%;
	height:350px;
}

.tile2 {
	background-image: url(../../images/home_tile2.jpg);
	width:29%;
}

.tile3 {
	background-image: url(../../images/home_tile3.jpg);
	width:57%;
}

.tile4 {
	background-image: url(../../images/home_tile4.jpg);
	width:45%;
}

.tile5 {
	background-image: url(../../images/home_tile5.jpg);
	width:17%;
}

.tile1,
.tile2,
.tile3 {
	margin-right: 1%;
}

.tile2,
.tile4 {
	height:185px;
}

.tile3,
.tile5 {
	margin-top: 1%;
	height:145px;
}

/***
	Google map section
***/

.google-map-container {
	position: relative;
	clear: both;
	height: 200px;
	vertical-align: top;
}

.google-map {
	height: 200px;
}

#overview h1 {
	float: left;
	position: relative;
	bottom: 3px;
}

.weather-time {
	float: left;
	font-size: 1.2rem;
	color: #49176d;
	position: relative;
	vertical-align: bottom;
		line-height: 30px;
}

.weather {
	text-align: right;
	width: 80px;
}

.overview-phoenicia h2 {
	line-height: 1.3;
}

.beirutCity,
.beirutTime,
.beirutWeather,
.degrees,
.cloud {
	float: left;
	display: block;
}

.beirutCity {
	margin: 0;
	margin-right: 10px;
	vertical-align: bottom;
}

.beirutTime,
.beirutWeather {
	font-size: 1.5rem;
}

.beirutTime,
.degrees {
	margin-right: 10px;
	margin-left: 10px;
}

.cloud {
	width: 36px;
}

.smaller {
	font-size: 70%;
	color: #45196e;
	opacity: .7;
	margin-right: 10px;
}

@media screen and (min-width: 1000px) {
	/************************************************************************************************************
	* Generic styles
	************************************************************************************************************/

	.swiper-container {
		height: 100%; /* A must for swiper to work properly */
	}

	.swiper-container {
		padding-top: 75px;
	}

	/***
		Scroll down
	***/	

	.scroll-down {
		display: block;
		position: absolute;
		top: 30px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		color: #c6b6d1;
		font-size: 1.2rem;
		text-align: center;
	}
	
	.scroll-down:hover {
		color: #49176D;
	}
	
	.scroll-down:hover::after,
	.scroll-down:hover::before {
		background-color: #49176D;
	}
	
	.scroll-down::after, .scroll-down::before {
		content: '';
		width: 12px;
		height: 1px;
		background-color: #c6b6d1;
		position: absolute;
		right: 50%;
		top: 22px;
	}
	
	.scroll-down::before {
		right: -webkit-calc(50% - 8px);
		right: -moz-calc(50% - 8px);
		right: calc(50% - 8px);
		-webkit-transform: rotate(135deg);
		    -ms-transform: rotate(135deg);
		   -moz-transform: rotate(135deg);
		   		transform: rotate(135deg);
	}
	
	.scroll-down::after {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		     	transform: rotate(45deg);
	}

	
	/***
		Google map section
	***/

	.google-map-container {
		display: table-cell;
		width: 48%;
		height: auto; /* A must in order not to cause layout conflicts */
		background: url(../../images/google_map_background.jpg) no-repeat center;
		background-size: cover;
		position: relative;
		min-height: 260px;
	}

	.google-map {
		position: absolute !important;
		left: 15px;
		top: 15px;
		width: 70%;
		height: 90%;
		min-height: 260px;
	}

	#overview {
		position: relative;
		display: table; /* a must to use in-order to format and create the table cell layout */
	}

	.col-spacer {
		display: table-cell;
		width: 2%;
	}

	#overview h1 {
	    float: none;
		display: table-caption;
		margin-bottom: 15px;
	}

	.overview-phoenicia h2 {
		margin-top: 0;
	}

	.overview-phoenicia,
	.directions {
		margin-bottom: 80px;
	}

	.weather-time {
		position: absolute;
		left: 50%;
		bottom: 0;
	    float: none;
		height: 30px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
	.google-map {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.google-map-container {
		width: 43%;
	}

	.weather-time {
		left: 45%;
	}
}

@media screen and (min-width: 1300px) {
	/***
		Scroll down
	***/
	
	.scroll-down {
		top: 3px;
		padding: 10px;
	}

	.scroll-down::after,
	.scroll-down::before {
		top: 32px;
	}
}