.slides {
	margin-right: 26px;
}

.recommended-news__title {
	margin-bottom: 20px;
}

.room.bgpink {
	min-height: 336px;
	width: 280px;
	max-width: 280px;
}

.room-text {
	font-size: 1.2rem;
	line-height: 1.2;
	color: #605d63;
	overflow: hidden;
	max-height: 140px;
}

.room:hover {
	background-color: #eeebf1; 
}

.link {
	color: #49176D;
}

.float-block {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	margin: 20px 0;
	border-bottom: 1px solid #605d63;
}

.float-block p {
	font-size: 1.3rem;
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	.float-block {
		float: left;
		border-right: 1px solid #605d63;
		border-bottom: none;
		padding-right: 20px;
	}

	.float-block p {
		font-size: 1.5rem;
	}

	.leftPadding {
		padding-left: 20px;
	}

	.press-contacts {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.first,
	.second {
		width: 50%;
	}

	.third {
		width: 50%;
		padding-left: 0;
	}
}

@media screen and (min-width: 1000px) {
	.first,
	.second,
	.third {
		width: 33.33%;
	}

	.third {
		border-right: none;
		padding-left: 20px;
	}

	.recommended-news__title {
		text-align: center;
	}
}