.privacy-section {
	margin: 20px 0;
}

.privacy-section .privacy-paragraph,
.privacy-section-title {
	margin: 10px 0;
}

.about-privacy {
	text-align: justify;
}

.about-privacy,
.privacy-section-title {
	line-height: 1.2;
}

.privacy-section-title {
	color: #49176d;
	font-size: 1.6rem;
	font-weight: bold;
}

.privacy-paragraph {
	color: #42354c;
}

.data-to-be-collected,
.phoeniciaLink {
	color: #552677;
	line-height: 1.5;
}

.privacy-paragraph,
.data-to-be-collected,
.phoeniciaLink {
	font-size: 1.4rem;
}

@media screen and (min-width: 1000px) {
	.about-privacy {
		line-height: 1.5;
	}		
}