.xdsoft_datetimepicker {
	top: 0;
}

.select-wrapper-parent.name-prefix {
	margin-right: 5%;
	width: 20%;
	float: left;
}

.rfp .select-wrapper,
.select-wrapper-parent,
.event-date-wrapper {
	position: relative;
}

.select-wrapper-parent::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 38px;
	background-color: #ece6f0;
	z-index: 1;
}

.rfp .select-wrapper::before, .rfp .select-wrapper::after {
	content: '';
	position: absolute;
	right: 5px;
	top: 20px;
	width: 10px;
	height: 2px;
	background-color: #49176d;
	z-index: 2;
}

.rfp .select-wrapper::before {
	right: 11px;
	-webkit-transform: rotate(50deg);
	   -moz-transform: rotate(50deg);
	    -ms-transform: rotate(50deg);
	    	transform: rotate(50deg);
}

.rfp .select-wrapper::after {
	right:5px;
	-webkit-transform: rotate(130deg);
	   -moz-transform: rotate(130deg);
	    -ms-transform: rotate(130deg);
			transform: rotate(130deg);		
}

.rfp input, .rfp select, .rfp textarea,
#guest-rooms, #reply {
	border: none;
	background-color: #ece6f0;
	padding-left: 5px;
	text-align: left;
}

.rfp input,
.rfp select,
.rfp textarea,
#guest-rooms, #reply {
	font-size: 1.2rem;
}

.rfp .table {
	display: table;
	max-width: 1200px;
	margin: 30px auto 0;
}

.rfp .row-cell, .rfp .spacing {
	display: table-row;
}

#honorific, #first-name, #last-name {
	float: left;
	margin-bottom: 10px;
	height: 38px;
}

.rfp ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c6b5d1;
}

.rfp :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c6b5d1;
   opacity:  1;
}

.rfp ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c6b5d1;
   opacity:  1;
}

.rfp :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c6b5d1;
}

#honorific {
	width: 100%;
}

#rfp-form .row-cell:first-child .select-wrapper, #first-name {
	margin-right: 5%;
}

#first-name, #last-name {
	width: 35%;
}

#address, #phone, #mobile, #email,
#event-type, #event-date, #alternate-event-date, #estimated-attendees, #guest-rooms,
#reply, #notes {
	width: 100%;
	margin-bottom: 10px;
	height: 38px;
	color: #49176d;
}

.event-date-wrapper .fa {
	position: absolute;
	top: 11.5px;
	right: 7px;
	color: #49176D;
}

#notes {
	height: 150px;
	min-width: 100%;
	resize: none;
	padding-top: 5px;
	overflow: auto;
}

select::-ms-expand {
    display: none;
}

#honorific, #event-type, #guest-rooms, #reply, #first-name, #last-name {
	color: #49176d;
}

#event-type, #honorific {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

.rfp > button {
	width: 100%;
	background-color: #7f5c99;
	color: #fff;
	font-size: 2.7rem;
	margin: 20px 0 0;
	padding: 5px;
	border: none;
}

#guest-rooms, #reply {
	line-height: 38px;
}

#guest-rooms label:first-of-type {
	margin-right: 15px;
}

@media screen and (min-width: 1000px) {
	#first-name {
		margin-right: 2.5%;
	}

	.select-wrapper-parent.name-prefix {
		margin-right: 2.5%;
	}

	#first-name, #last-name {
		width: 37.5%;
	}

	.rfp .row-cell, .rfp .spacing {
		display: table-cell;
	}

	.rfp .row-cell {
		width: 380px;
	}

	.rfp .spacing {
		width: 30px;
	}

	#email, #guest-rooms, #reply {
		margin-bottom: 0;
	}

	#notes {
		max-width: 380px;
		height: 180px;
		max-height: 180px;
		min-height: 180px;
	}

	.rfp > button {
		max-width: 1200px;
		display: block;
		margin: 30px auto 0;
		height: 70px;
	}
}

@media screen and (min-width: 1200px) {
	.rfp input, #notes, #honorific, #guest-rooms, #reply, #event-type {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1300px) {
	.spa-treatments .flickity-prev-next-button.previous {
		left: -80px;
	}

	.spa-treatments .flickity-prev-next-button.next {
		right: -80px;
	}

	.spa-treatments .flickity-prev-next-button svg {
		left: 0;
		width: 100%;
		height: 100%;
	}

	.spa-treatments .flickity-prev-next-button {
		width: 100px;
		height: 50px;
	}

	.spa-treatments .arrow {
		fill: #999;
	}
}