.table {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	line-height: 1.8;
}

.mainLink {
	font-size: 1.5rem;
}

.mainLink:hover {
	text-shadow: 1px 0 0 #49176D;
}

.subLink {
	font-size: 1.3rem;
}

.subLink:hover {
	text-shadow: 1px 0 0 #42354c;
}

.tr {
	display: table-row;
}

.tc {
	display: table-cell;
}

.tc:first-child {
	padding-right: 30px;
}

.tc:first-child a {
	color: #49176d;
}

.tc:last-child a {
	color: #42354c;
}

.tc:last-child ul {
	border-left: 1px solid #49176d;
	padding-left: 30px;
	margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
	.table {
		width: 400px;
		font-size: 1.7rem;
	}
}