.page-logo-wrapper {
	max-width: 130px;
	width: 100%;
	background: url(../../images/_spa.jpg) no-repeat center;
	background-size: cover;
	display: inline-block;
}

.page-logo {
	padding-top: 59%;
}

.purpleHoverText {
	font-size: 1.4rem;
}

.blockElement:hover .purpleHoverText {
	font-weight: bold;
	color: #49176D;
}

.spa .buttons button {
	border: none;
	background-color: #e4dce9;
	color: #49176D;
	font-size: 1.4rem;
	line-height: 27px;
	height: 27px;
	width: 200px;
	margin-bottom: 10px;
	outline: none;
}

.spa .buttons button:hover {
	background-color: #49176D;
	color: #FFF;
}

.spa .title {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: left;
}

.spa-treatments .slides {
	width: 380px;
	margin-right: 30px;
}

.spa-treatments .slides p {
	color: #999999;
}

.rsContent {
	text-align: left;
}

.parent {
	max-width: 1200px;
	margin: 0 auto;
}

.flickity-prev-next-button .arrow {
	fill: #49176D;
}

@media screen and (min-width: 1000px) {
	/* SPA */
	.spa {
		padding-top: 100px;
	}

	.spa .title {
		text-align: center;
	}

	.page-logo-wrapper {
		max-width: 177px;
	}

	.spa .buttons {
		margin-top: 20px;
	}

	.spa .buttons button {
		height: 35px;
		line-height: 35px;
		font-size: 1.3rem;
		width: 300px;
	}

	.spa .buttons button:first-child {
		margin-right: 20px;
	}

	.desktop-row {
		display: table-row;
	}
}